<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="closebar">
        <ion-icon :src="require(`../../src/assets/icon/CloseTab.svg`)" />
      </div>

      <div class="header">
        <ion-icon :src="require(`../../src/assets/icon/calender_green.svg`)" />
        <h6>วันพบแพทย์</h6>
      </div>

      <div class="subheader">
        <h6>พฤศจิกายน</h6>
        <ion-icon :src="require(`../../src/assets/icon/NextDownBlack.svg`)" />
      </div>

      <div class="date">
        <DocterDate></DocterDate>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonContent, IonIcon } from "@ionic/vue";

import DocterDate from "../components/DocterDate.vue";

export default {
  components: { IonPage, IonContent, IonIcon, DocterDate },
};
</script>

<style>
.closebar ion-icon {
  width: 177px;
  height: 5px;
  margin-left: 92px;
  margin-top: 20px;
}

.header {
  margin-top: 18px;
  display: flex;
}

.header ion-icon {
  margin: 0 0 0 30px;
  font-size: 24px !important;
}

.header h6 {
  font-family: "Kanit-Regular";
  font-size: 18px;
  margin: 3px 0 0 15px;
}

.subheader {
  margin-top: 18px;
  display: flex;
}

.subheader ion-icon {
  margin: 3px 0 0 15px;
  font-size: 24px !important;
}

.subheader h6 {
  font-family: "Kanit-Regular";
  font-size: 18px;
  margin: 0 0 0 30px;
}

.Date {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.DocterDate {
  position: relative;
}
</style>
