<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="closebar">
        <ion-icon
          :src="require(`../../src/assets/icon/CloseTab.svg`)"
          @click="this.$router.push({ path: 'tab1' })"
        />
      </div>

      <div class="header">
        <ion-icon :src="require(`../../src/assets/icon/place_black.svg`)" />
        <h6>ที่อยู่ของคุณ</h6>
        <h5>ค้นหาตำแหน่งปัจจุบัน</h5>
      </div>

      <div class="header-detail">
        <h6>ถนนฉลองกรุง เขตลาดกระบัง กรุงเทพ 10520</h6>
        <h5>โทร: 02-329-8203</h5>
      </div>

      <div class="mid">
        <h6>ต้องการความช่วยเหลือ</h6>
        <h5>อย่างเร่งด่วน !</h5>
      </div>

      <div class="press">
        <h6>
          กดปุ่ม
          <p1 style="color: #ff1515">ค้าง 5 วินาที </p1>เพื่อขอความช่วยเหลือ
        </h6>
      </div>

      <!--<div class="button">
                <ion-icon
                :src="require(`../../src/assets/icon/ButtonEmer.svg`)"
                />
                <div class="pul"></div>
            </div>-->

      <div class="iconn">
        <div class="icon"></div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonContent, IonIcon } from "@ionic/vue";

export default {
  components: { IonPage, IonContent, IonIcon },
};
</script>

<style>
.closebar ion-icon {
  width: 177px;
  height: 5px;
  margin-left: 92px;
  margin-top: 20px;
}

.header {
  margin-top: 40px;
  display: flex;
}

.header ion-icon {
  font-size: 23px !important;
  margin-left: 27px;
}

.header h6 {
  font-family: "Kanit-Regular";
  font-size: 12px;
  margin: 5px;
}

.header h5 {
  color: #ff1515;
  text-decoration: underline;
  font-family: "Kanit-Regular";
  font-size: 12px;
  margin: 5px 5px 5px 107px;
  justify-content: end;
}

.header-detail h6 {
  font-family: "Kanit-Regular";
  font-size: 12px;
  margin: 15px 0 0 57px;
}

.header-detail h5 {
  font-family: "Kanit-Regular";
  font-size: 12px;
  margin: 0px;
  margin: 0 0 0 57px;
}

.mid h6 {
  font-family: "Kanit-Bold";
  font-size: 28px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 5px;
}

.mid h5 {
  font-family: "Kanit-Bold";
  font-size: 28px;
  text-align: center;
  margin: 0px;
}

.press h6 {
  font-family: "Kanit-Regular";
  font-size: 16px;
  text-align: center;
  color: #757575;
}

.iconn {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.icon {
  width: 220px;
  height: 220px;
  opacity: 0.5;
  position: relative;
}
.icon::before,
.icon::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 50%;
}

.icon::before {
  content: url("../../src/assets/img/Emergency.png");
  background: #ff1515;
  display: grid;
  place-items: center;

  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
</style>
