<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="logo">
        <ion-icon :src="require(`../../src/assets/icon/PlusGreen.svg`)" />
        <h6>Medical Care</h6>
        <p>Health first</p>
        <h5>ต้องการกู้รหัสผ่าน</h5>
        <ion-img :src="require(`../../src/assets/img/SignIn.png`)"></ion-img>
      </div>

      <div class="input">
        <h6>โปรดใส่ E-mail เพื่อเปลี่ยนรหัสผ่านของคุณ</h6>
        <ion-item>
          <ion-input placeholder="ชื่อผู้ใช้งาน/E-mail"></ion-input>
        </ion-item>
      </div>

      <div class="footer">
        <h6>ส่งรหัสผ่านใหม่</h6>
        <h5>ยกเลิก</h5>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonContent,
  IonIcon,
  IonImg,
  IonInput,
  IonItem,
} from "@ionic/vue";

export default {
  components: { IonPage, IonContent, IonIcon, IonImg, IonInput, IonItem },
};
</script>

<style>
ion-tab-bar {
  display: none;
}
ion-content {
  --ion-background-color: #f2fbf6;
}
.logo ion-icon {
  font-size: 47px !important;
  margin-left: 156px;
  margin-top: 31px;
}

.logo h6 {
  color: #4d4c4c;
  font-family: "Kanit-Bold";
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin: 16px 0 0 0;
}

.logo p {
  color: #908f8f;
  font-family: "Kanit-Regular";
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin: 6px 0 0 0;
}

.logo h5 {
  color: #4d4c4c;
  font-family: "Kanit-Bold";
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin: 16px 0 0 0;
}

.logo ion-img {
  width: 136px;
  height: 143px;
  margin-left: 112px;
  margin-top: 31px;
}

.input ion-item {
  width: 293px;
  height: 37px;
  --ion-box-shadow: none;
  --ion-background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #c4c4c4;
  border-radius: 5px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.input ion-item ion-input {
  color: #00a651;
  font-family: "Kanit-Regular";
  font-size: 12px;
  margin-top: -15px;
}

.input h6 {
  font-family: "Kanit-Regular";
  font-size: 14px;
  margin: 25px 0 5px 37px;
}

.footer h6 {
  width: 125px;
  height: 40px;
  color: #fff;
  font-family: "Kanit-Regular";
  font-size: 12px;
  background-color: #00a651;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 12px;
  margin: 30px 117px 0 117px;
  text-align: center;
}

.footer h5 {
  color: #000;
  opacity: 50%;
  text-align: center;
  font-family: "Kanit-Regular";
  font-size: 12px;
  margin-top: 10px;
}
</style>
