<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="closebar">
        <ion-icon :src="require(`../../src/assets/icon/CloseTab.svg`)" />
      </div>

      <div class="header">
        <img :src="require(`../../src/assets/img/payment2.png`)" />
        <h6>การชำระเงิน</h6>
      </div>

      <div class="subheader">
        <ion-icon :src="require(`../../src/assets/icon/PaymentCart.svg`)" />
        <div class="text">
          <h6>เลขที่ 1 ถนนฉลองกรุง แขวงลาดกระบัง</h6>
          <h6>เขตลาดกระบัง กรุงเทพมหานคร 10520</h6>
          <h6>โทร: 02-329-8203</h6>
        </div>
      </div>

      <div class="payment">
        <div class="payment1">
          <label class="container">
            <input type="radio" name="radio" />
            <span class="checkmark"></span>
          </label>
          <div class="text">
            <div class="text1">
              <h6>แสกนจ่าย</h6>
            </div>
            <div class="text2">
              <h5>บัญชีธนาคาร ประหยัดบุญมี</h5>
            </div>
          </div>
        </div>

        <div class="payment2">
          <label class="container">
            <input type="radio" name="radio" />
            <span class="checkmark"></span>
          </label>
          <div class="text">
            <div class="text1">
              <h6>บัตรเคดิต</h6>
            </div>
            <div class="text2">
              <h5>2540 xxxx xxxx 2648</h5>
            </div>
          </div>
          <div class="photo">
            <div class="photo1">
              <img :src="require(`../../src/assets/img/visa.png`)" />
            </div>
            <div class="photo2">
              <img :src="require(`../../src/assets/img/Card.png`)" />
            </div>
          </div>
        </div>
      </div>

      <div class="footer1">
        <h6>รายการยา</h6>
        <h6>ราคา (รวมค่าจัดส่ง)</h6>
      </div>

      <div class="footer2">
        <h6>สารสกัดฟ้าทะลายโจรแคปซูล<br />จำนวน 2 กล่อง</h6>
        <h6>380 บาท</h6>
      </div>

      <div class="footer3">
        <div class="text">
          <p>กรุณาตรวจสอบยอด</p>
          <h6>380.00 บาท</h6>
        </div>
        <div class="success" @click="this.$router.push({ path: 'tab12' })">
          <ion-icon :src="require(`../../src/assets/icon/Wallet1.svg`)" />
          <h6>ยืนยันการชำระเงิน</h6>
        </div>
      </div>
      <div style="height: 50px"></div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonContent, IonIcon } from "@ionic/vue";

export default {
  components: { IonPage, IonContent, IonIcon },
};
</script>

<style>
.closebar ion-icon {
  width: 177px;
  height: 5px;
  margin-left: 92px;
  margin-top: 20px;
}

.header {
  width: 264px;
  height: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.header img {
  width: 264px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header h6 {
  font-family: "Kanit-Regular";
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
}

.subheader {
  display: flex;
  margin-top: 80px;
}

.subheader ion-icon {
  font-size: 47px !important;
  margin-left: 33px;
}

.subheader .text {
  margin-top: 2px;
  margin-left: 10px;
}

.subheader h6 {
  font-family: "Kanit-Light";
  font-size: 10px;
  margin: 0;
}

.payment {
  margin-left: 33px;
}

.payment1 {
  width: 295px;
  height: 75px;
  display: flex;
  background-color: #f2fbf6;
  margin-top: 20px;
  border-radius: 15px;
}

label.container {
  margin-top: 25px;
  margin-left: 10px;
}

.container input {
  height: 25px;
  width: 25px;
}

.payment1 h6 {
  font-family: "Kanit-Regular";
  font-size: 14px;
  margin: 15px 0 0 10px;
}
.payment1 h5 {
  font-family: "Kanit-Regular";
  font-size: 10px;
  color: #c4c4c4;
  margin: 10px 0 0 10px;
}

.payment2 {
  width: 295px;
  height: 75px;
  display: flex;
  background-color: #f2fbf6;
  margin-top: 20px;
  border-radius: 15px;
}

.payment2 h6 {
  font-family: "Kanit-Regular";
  font-size: 14px;
  margin: 15px 0 0 10px;
}
.payment2 h5 {
  font-family: "Kanit-Regular";
  font-size: 10px;
  color: #c4c4c4;
  margin: 10px 0 0 10px;
}

.payment2 .photo {
  margin-left: 55px;
  display: flex;
}

.payment2 .photo1 {
  margin-top: 30px;
}

.payment2 .photo2 {
  margin-top: 23px;
}

.footer1 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.footer1 h6 {
  font-family: "Kanit-Light";
  font-size: 10px;
  color: #00a651;
  margin-left: 35px;
  margin-right: 35px;
}

.footer2 {
  height: 43px;
  display: flex;
  justify-content: space-between;
}

.footer2 h6 {
  font-family: "Kanit-Regular";
  font-size: 12px;
  color: #000;
  margin: 0 35px;
}

.footer3 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 35px;
  margin-right: 35px;
}

.footer3 .text p {
  font-family: "Kanit-Regular";
  font-size: 10px;
  color: #c4c4c4;
  margin: 0;
}

.footer3 .text h6 {
  font-family: "Kanit-Bold";
  font-size: 22px;
  color: #00a651;
  margin: 0;
}

.footer3 .success {
  display: flex;
  width: 136px;
  height: 40px;
  background-color: #00a651;
  border-radius: 10px;
  margin-top: 4px;
}

.footer3 .success ion-icon {
  font-size: 17px !important;
  margin-top: 15px;
  margin-left: 8px;
}

.footer3 .success h6 {
  font-family: "Kanit-Regular";
  font-size: 13px;
  color: #fff;
  margin-left: 6px;
}
</style>
