<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="closebar">
        <ion-icon :src="require(`../../src/assets/icon/CloseTab.svg`)" />
      </div>

      <div class="header">
        <img :src="require(`../../src/assets/img/payment1.png`)" />

        <h6>ที่อยู่การจัดส่ง</h6>
      </div>

      <div class="Name">
        <h6>ชื่อ - นามสกุล</h6>
        <ion-item>
          <ion-input placeholder="โปรดใส่ชื่อ - นามสกุล ของท่าน"></ion-input>
        </ion-item>
      </div>

      <div class="Address">
        <h6>ที่อยู่ในการจัดส่ง</h6>
        <ion-item>
          <ion-input placeholder="โปรดใส่ที่อยู่ในการจัดส่ง"></ion-input>
        </ion-item>
        <div class="subAddress">
          <div class="subAddress1">
            <select name="city" id="city">
              <option>--จังหวัด--</option>
              <option>กรุงเทพมหานคร</option>
              <option>สมุทรสาคร</option>
              <option>สมุทรปราการ</option>
              <option>ชลบุรี</option>
              <option>ฉะเชิงเทรา</option>
              <option>ระยอง</option>
              <option>ระนอง</option>
              <option>ยะลา</option>
              <option>พะเยา</option>
              <option>เชียงใหม่</option>
              <option>ราชบุรี</option>
            </select>
            <!-- <ion-icon
                        :src="require(`../../src/assets/icon/NextDownGreen.svg`)"
                        /> -->
          </div>
          <div class="subAddress2">
            <ion-input placeholder="รหัสไปรษณีย์"></ion-input>
          </div>
        </div>
      </div>

      <div class="Telphone">
        <h6>เบอร์โทรศัพท์</h6>
        <ion-item>
          <ion-input placeholder="โปรดใส่เบอร์โทรศัพท์ 10 หลัก"></ion-input>
        </ion-item>
      </div>

      <div class="save">
        <input type="checkbox" checked="checked" />
        <h6>เก็บข้อมูลเพื่อไว้ใช้คราวหน้า</h6>
      </div>

      <div class="next" @click="this.$router.push({ path: 'Payment2' })">
        <h6>ไปสู่ขั้นตอนถัดไป</h6>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonContent, IonIcon, IonInput, IonItem } from "@ionic/vue";

export default {
  components: { IonPage, IonContent, IonIcon, IonInput, IonItem },
};
</script>

<style>
ion-content {
  font-family: "Kanit-Regular";
}

.closebar ion-icon {
  width: 177px;
  height: 5px;
  margin-left: 92px;
  margin-top: 20px;
}

.header {
  width: 264px;
  height: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.header img {
  width: 264px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header h6 {
  font-family: "Kanit-Regular";
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
}

.Name {
  margin-top: 70px;
}
.Name ion-item {
  width: 293px;
  height: 37px;
  --ion-box-shadow: none;
  --ion-background-color: #efefef;
  border-style: solid;
  border-width: 2px;
  border-color: #efefef;
  border-radius: 5px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.Name h6 {
  margin-left: 33px;
}

ion-item ion-input {
  color: #00a651 !important;
  font-family: "Kanit-Regular" !important;
  font-size: 12px !important;
  margin-top: -15px !important;
}

.Address {
  margin-top: 40px;
}
.Address ion-item {
  width: 293px;
  height: 37px;
  --ion-box-shadow: none;
  --ion-background-color: #efefef;
  border-style: solid;
  border-width: 2px;
  border-color: #efefef;
  border-radius: 5px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.Address h6 {
  margin-left: 33px;
}

.Address ion-item ion-input {
  color: #00a651;
  opacity: 80%;
}

.Address .subAddress {
  display: flex;
  margin-top: 10px;
}

.Address .subAddress ion-input {
  color: #00a651;
  opacity: 60%;
  font-family: "Kanit-Regular" !important;
  font-size: 12px !important;
  margin-top: -3px !important;
}

.Address .subAddress .subAddress1 #city {
  width: 136px;
  height: 37px;
  font-family: "Kanit-Regular" !important;
  font-size: 12px !important;
  --ion-box-shadow: none;
  --ion-background-color: #efefef;
  border-style: solid;
  border-width: 2px;
  border-color: #efefef;
  color: #00a651;
  opacity: 80%;
  border-radius: 5px;
  margin-left: 33px;
}

.Address .subAddress .subAddress2 {
  width: 136px;
  height: 37px;
  --ion-box-shadow: none;
  --ion-background-color: #efefef;
  border-style: solid;
  border-width: 2px;
  border-color: #efefef;
  border-radius: 5px;
  margin-left: 23px;
}

.Telphone {
  margin-top: 40px;
}
.Telphone ion-item {
  width: 293px;
  height: 37px;
  --ion-box-shadow: none;
  --ion-background-color: #efefef;
  border-style: solid;
  border-width: 2px;
  border-color: #efefef;
  border-radius: 5px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.Telphone h6 {
  margin-left: 33px;
}

.Telphone ion-item ion-input {
  color: #00a651;
  opacity: 80%;
}

.save {
  display: flex;
}

.save input {
  font-size: 12px !important;
  margin-left: 33px;
  margin-top: 20px;
}

.save h6 {
  font-family: "Kanit-Regular";
  font-size: 10px;
  margin-left: 10px;
  margin-top: 20px;
}

.next {
  margin: 20px 30px;
  width: 100%;
}

.next h6 {
  text-align: center;
  font-family: "Kanit-Regular";
  font-size: 12px;
  color: #ffffff;
  background-color: #00a651;
  border-style: solid;
  border-color: #00a651;
  border-radius: 5px;
  border-width: 2px;
  padding: 8px 0;
  width: 293px;
  height: 33px;
}
</style>
