<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="header">
        <ion-icon :src="require(`../../src/assets/icon/BackBlack.svg`)" />
        <h6>ที่อยู่ในการจัดส่ง</h6>
      </div>

      <div class="SubHeader">
        <ion-icon :src="require(`../../src/assets/icon/PaymentName.svg`)" />
        <div class="text">
          <div class="text1">
            <h6>ชื่อ - นามสกุล</h6>
          </div>
          <div class="text2">
            <h5>ประหยัด มีบุญ</h5>
          </div>
        </div>
      </div>

      <div class="SubHeader">
        <ion-icon :src="require(`../../src/assets/icon/PaymentTelphone.svg`)" />
        <div class="text">
          <div class="text1">
            <h6>เบอร์โทรศัพท์</h6>
          </div>
          <div class="text2">
            <h5>02-329-8203</h5>
          </div>
        </div>
      </div>

      <div class="SubHeader">
        <ion-icon :src="require(`../../src/assets/icon/PaymentMail.svg`)" />
        <div class="text">
          <div class="text1">
            <h6>อีเมล</h6>
          </div>
          <div class="text2">
            <h5>payat@gmail.com</h5>
          </div>
        </div>
      </div>

      <div class="SubHeader">
        <ion-icon :src="require(`../../src/assets/icon/PaymentAddress.svg`)" />
        <div class="text">
          <div class="text1">
            <h6>ที่อยู่</h6>
          </div>
          <div class="text2">
            <h5>
              เลขที่ 1 ถนนฉลองกรุงแขวงลาดกระบัง เขตลาดกระบัง กรุงเทพมหานคร 10520
            </h5>
          </div>
        </div>
      </div>

      <div class="footer">
        <h6>หมายเลขประจำตัว : 12208105430</h6>
        <img :src="require(`../../src/assets/img/qrcode.png`)" />
      </div>

      <div class="next" @click="this.$router.push({ path: 'Payment3' })">
        <h6>ไปสู่ขั้นตอนถัดไป</h6>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonContent, IonIcon } from "@ionic/vue";

export default {
  components: { IonPage, IonContent, IonIcon },
};
</script>

<style>
.header {
  margin-top: 18px;
  display: flex;
}

.header ion-icon {
  margin: 0 0 0 30px;
  font-size: 24px !important;
}

.header h6 {
  font-family: "Kanit-Regular";
  font-size: 18px;
  margin: 3px 0 10px 15px;
}

.SubHeader {
  display: flex;
}

.SubHeader ion-icon {
  font-size: 42px !important;
  margin-left: 35px;
  margin-top: 40px;
}

.SubHeader h6 {
  font-family: "Kanit-Light";
  font-size: 10px;
  color: #c4c4c4;
  margin: 45px 0 0 5px;
}

.SubHeader h5 {
  font-family: "Kanit-Regular";
  font-size: 14px;
  color: #000;
  margin-left: 5px;
  margin: 5px 0 0 5px;
}

.footer h6 {
  font-family: "Kanit-Regular";
  font-size: 14px;
  text-align: center;
  color: #979797;
  margin-top: 20px;
  margin-bottom: 5px;
}

.footer img {
  width: 130px;
  height: 130px;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: auto;
}

.next {
  margin: 20px 30px;
  width: 100%;
}

.next h6 {
  text-align: center;
  font-family: "Kanit-Regular";
  font-size: 12px;
  color: #ffffff;
  background-color: #00a651;
  border-style: solid;
  border-color: #00a651;
  border-radius: 5px;
  border-width: 2px;
  padding: 8px 0;
  width: 293px;
  height: 33px;
}
</style>
