<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="closebar">
        <ion-icon :src="require(`../../src/assets/icon/CloseTab.svg`)" />
      </div>

      <div class="header">
        <img :src="require(`../../src/assets/img/payment3.png`)" />
        <h6>การชำระเงินเสร็จสิ้น</h6>
      </div>

      <div class="subheader">
        <img :src="require(`../../src/assets/img/sucesspayment.png`)" />
      </div>

      <div class="next" @click="this.$router.push({ path: 'tab1' })">
        <h6>ปิด</h6>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonContent, IonIcon } from "@ionic/vue";

export default {
  components: { IonPage, IonContent, IonIcon },
};
</script>

<style>
.closebar ion-icon {
  width: 177px;
  height: 5px;
  margin-left: 92px;
  margin-top: 20px;
}

.header {
  width: 264px;
  height: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.header img {
  width: 264px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header h6 {
  font-family: "Kanit-Regular";
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
}

.subheader {
  margin-top: 90px;
}

.subheader img {
  margin-left: 40px;
}

.next {
  margin-left: auto;
  margin-right: auto;
  width: 135px;
  height: 40px;
}

.next h6 {
  text-align: center;
  font-family: "Kanit-Regular";
  font-size: 12px;
  color: #ffffff;
  background-color: #00a651;
  border-style: solid;
  border-color: #00a651;
  border-radius: 5px;
  border-width: 2px;
  margin: 0;
  padding: 10px;
}
</style>
