<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="header">
        <ion-icon :src="require(`../../src/assets/icon/BackBlack.svg`)" />
        <h6>เลื่อนวันพบแพทย์</h6>
      </div>

      <div class="card">
        <div class="subheader">
          <h6>เลื่อนจากวันที่ 21 พฤศจิกายน 64</h6>
        </div>
        <div class="card-header">
          <h2>พฤศจิกายน</h2>
          <ion-icon :src="require(`../../src/assets/icon/NextDownBlack.svg`)" />
        </div>
        <div class="calendar">
          <div class="days">
            <p>Mo</p>
            <p>Tu</p>
            <p>We</p>
            <p>Th</p>
            <p>Fr</p>
            <p>Sa</p>
            <p>Su</p>
          </div>
          <div class="weeks">
            <div class="first">
              <span></span>
              <span class="past">1</span>
              <span class="past">2</span>
              <span class="past">3</span>
              <span class="past">4</span>
              <span class="past">5</span>
              <span class="past">6</span>
            </div>

            <div class="second">
              <span class="past">7</span>
              <span class="past">8</span>
              <span class="past">9</span>
              <span class="past">10</span>
              <span class="past">11</span>
              <span class="past">12</span>
              <span class="past">13</span>
            </div>

            <div class="third">
              <span class="past">14</span>
              <span class="past">15</span>
              <span class="past">16</span>
              <span class="past">17</span>
              <span class="past">18</span>
              <span class="past">19</span>
              <span class="past">20</span>
            </div>

            <div class="fourth">
              <span style="color: #fff">21</span>
              <div class="active"></div>
              <span>22</span>
              <span>23</span>
              <span class="past">24</span>
              <span class="past">25</span>
              <span class="past">26</span>
              <span>27</span>
            </div>

            <div class="fifth">
              <span>28</span>
              <span>29</span>
              <span>30</span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <label for="Time">กรุณาเลือกเวลาที่ต้องการ</label>
        <select name="Time" id="Time">
          <option>
            22 พ.ย. 64 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; เวลา 06.30 น.
          </option>
          <option>
            22 พ.ย. 64 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; เวลา 10.00 น.
          </option>
          <option>
            23 พ.ย. 64 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; เวลา 08.30 น.
          </option>
          <option>
            23 พ.ย. 64 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; เวลา 12.00 น.
          </option>
        </select>
      </div>

      <div class="next">
        <h6>ตกลง</h6>
      </div>
    </ion-content>
  </ion-page>
</template>
<script lang="ts">
import { IonPage, IonContent, IonIcon } from "@ionic/vue";

export default {
  components: { IonPage, IonContent, IonIcon },
};
</script>

<style>
.header {
  display: flex;
  align-items: center;
  width: 360px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 0px;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.header ion-icon {
  margin: 0 0 0 30px;
  font-size: 24px !important;
}

.header h6 {
  font-family: "Kanit-Regular";
  font-size: 18px;
  margin: 0 10px;
}

.subheader h6 {
  font-family: "Kanit-Regular";
  font-size: 12px;
  margin: 0 0 0 20px;
}

ion-content .card {
  height: 71%;
  width: 100%;
  background: #fff;
  position: relative;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  padding: 1rem 1rem 0 1rem;
}

ion-content .card-header {
  display: flex;
}

/* date */
.card .card-header ion-icon {
  font-size: 24px !important;
  margin-top: 20px;
  margin-left: 6px;
}

.card .card-header h2 {
  font-family: "Kanit-Regular";
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

ion-content .calendar {
  padding: 0 1.5rem 0 1.2rem;
}

.calendar .days {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.calendar .days p {
  font-family: "Kanit-Light";
  font-size: 14px;
  color: #000000;
}

.weeks {
  background-color: #fff;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 10px;
}

.weeks div {
  display: flex;
  font-family: "Kanit-Regular";
  font-size: 16px;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.weeks span {
  width: 40px;
  color: #000;
  padding: 10px;
  z-index: 1;
}

.weeks span.past {
  color: #000;
  opacity: 40%;
}

.weeks .active {
  width: 38px;
  height: 38px;
  color: #ffffff;
  border-radius: 50%;
  position: absolute;
  background-color: #00a651;
  z-index: -0.5;
  bottom: 67px;
  left: 33px;
}

.footer {
  font-family: "Kanit-Regular";
  font-size: 14px;
  margin: 0 30px;
}

.footer #Time {
  font-family: "Kanit-Regular";
  font-size: 12px;
  padding: 5px 0;
  color: #000;
  opacity: 70%;
  width: 290px;
  margin-top: 10px;
}

.next {
  margin: 20px auto;
  width: 140px;
  height: 33px;
}

.next h6 {
  text-align: center;
  font-family: "Kanit-Regular";
  font-size: 12px;
  color: rgba(0, 166, 81, 0.5);
  border-style: solid;
  border-color: rgba(0, 166, 81, 0.5);
  border-radius: 5px;
  border-width: 2px;
  margin: 0;
  padding: 8px 0;
}

#Time {
  padding: 11px 26px !important;
  width: 100% !important;
  border-radius: 5px;
}
</style>
