<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="header">
        <h6 style="padding-top: 30px">ลงทะเบียน</h6>
      </div>

      <div class="email">
        <h6>E-mail</h6>
        <ion-item>
          <ion-input placeholder="E-mail"></ion-input>
        </ion-item>
      </div>

      <div class="password">
        <h6>โปรดใส่รหัสผ่าน</h6>
        <ion-item>
          <ion-input placeholder="รหัสผ่าน" type="password"></ion-input>
        </ion-item>
      </div>

      <div class="passwordagain">
        <h6>โปรดใส่รหัสผ่านอีกครั้ง</h6>
        <ion-item>
          <ion-input
            placeholder="ยืนยันรหัสผ่านของท่านอีกครั้ง"
            type="password"
          ></ion-input>
        </ion-item>
      </div>

      <div class="Name">
        <h6>ชื่อ - นามสกุล</h6>
        <ion-item>
          <ion-input placeholder="ชื่อ - นามสกุล"></ion-input>
        </ion-item>
      </div>

      <div class="HN">
        <h6>เลขประจำตัวผู้ป่วย</h6>
        <ion-item>
          <ion-input
            placeholder="เลขประจำตัวผู้ป่วยของท่าน"
            type="number"
          ></ion-input>
        </ion-item>
      </div>

      <div class="PNum">
        <h6>เบอร์โทรศัพท์</h6>
        <ion-item>
          <ion-input
            placeholder="เบอร์โทรศัพท์ 10 หลัก"
            type="number"
          ></ion-input>
        </ion-item>
      </div>

      <div class="success">
        <h6 @click="this.$router.push({ path: 'SignIn1' })">ลงทะเบียน</h6>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonContent } from "@ionic/vue";

export default {
  components: { IonPage, IonContent },
};
</script>

<style>
ion-tab-bar {
  display: none;
}
.header h6 {
  font-family: "Kanit-Regular";
  font-size: 18px;
  text-align: center;
}

.email ion-item {
  width: 293px;
  height: 37px;
  --ion-box-shadow: none;
  --ion-background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #c4c4c4;
  border-radius: 5px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.email h6 {
  font-family: "Kanit-Regular";
  font-size: 14px;
  margin: 16px 0 3px 31.5px;
}

.email ion-item ion-input {
  color: #8e8e8e;
  font-family: "Kanit-Regular";
  font-size: 12px;
  margin-top: -15px;
}

.password ion-item {
  width: 293px;
  height: 37px;
  --ion-box-shadow: none;
  --ion-background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #c4c4c4;
  border-radius: 5px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.password h6 {
  font-family: "Kanit-Regular";
  font-size: 14px;
  margin: 16px 0 3px 31.5px;
}

.password ion-item ion-input {
  color: #8e8e8e;
  font-family: "Kanit-Regular";
  font-size: 12px;
  margin-top: -15px;
}

.passwordagain ion-item {
  width: 293px;
  height: 37px;
  --ion-box-shadow: none;
  --ion-background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #c4c4c4;
  border-radius: 5px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.passwordagain h6 {
  font-family: "Kanit-Regular";
  font-size: 14px;
  margin: 16px 0 3px 31.5px;
}

.passwordagain ion-item ion-input {
  color: #8e8e8e;
  font-family: "Kanit-Regular";
  font-size: 12px;
  margin-top: -15px;
}

.Name ion-item {
  width: 293px;
  height: 37px;
  --ion-box-shadow: none;
  --ion-background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #c4c4c4;
  border-radius: 5px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.Name h6 {
  font-family: "Kanit-Regular";
  font-size: 14px;
  margin: 16px 0 3px 31.5px;
}

.Name ion-item ion-input {
  color: #8e8e8e;
  font-family: "Kanit-Regular";
  font-size: 12px;
  margin-top: -15px;
}

.HN ion-item {
  width: 293px;
  height: 37px;
  --ion-box-shadow: none;
  --ion-background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #c4c4c4;
  border-radius: 5px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.HN h6 {
  font-family: "Kanit-Regular";
  font-size: 14px;
  margin: 16px 0 3px 31.5px;
}

.HN ion-item ion-input {
  color: #8e8e8e;
  font-family: "Kanit-Regular";
  font-size: 12px;
  margin-top: -15px;
}

.PNum ion-item {
  width: 293px;
  height: 37px;
  --ion-box-shadow: none;
  --ion-background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #c4c4c4;
  border-radius: 5px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.PNum h6 {
  font-family: "Kanit-Regular";
  font-size: 14px;
  margin: 16px 0 3px 31.5px;
}

.PNum ion-item ion-input {
  color: #8e8e8e;
  font-family: "Kanit-Regular";
  font-size: 12px;
  margin-top: -15px;
}

.success h6 {
  width: 282px;
  height: 35px;
  color: #fff;
  background-color: #00a651;
  font-family: "Kanit-Regular";
  font-size: 14px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin: 0;
  padding-top: 7px;
  margin-left: 37px;
  margin-top: 45px;
}
</style>
