<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="logo">
        <ion-icon :src="require(`../../src/assets/icon/PlusGreen.svg`)" />
        <h6>Medical Care</h6>
        <p>Health first</p>
        <h5>เข้าสู่ระบบ</h5>
        <ion-img :src="require(`../../src/assets/img/SignIn.png`)"></ion-img>
      </div>

      <div class="input">
        <ion-item>
          <ion-input placeholder="ชื่อผู้ใช้งาน/E-mail"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input placeholder="รหัสผ่าน" type="password"></ion-input>
        </ion-item>
      </div>

      <div class="footer">
        <h6 @click="this.$router.push({ path: 'ForgetPass' })">ลืมรหัสผ่าน</h6>
        <h5 @click="this.$router.push({ path: 'tab1' })">เข้าสู่ระบบ</h5>
        <div class="last">
          <p>หากยังไม่มีบัญชีผู้ใช้ ?</p>
          <p1 @click="this.$router.push({ path: 'Register' })">ลงทะเบียน</p1>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonContent,
  IonIcon,
  IonImg,
  IonInput,
  IonItem,
} from "@ionic/vue";

export default {
  components: { IonPage, IonContent, IonIcon, IonImg, IonInput, IonItem },
};
</script>

<style>
ion-tab-bar {
  display: none;
}
ion-content {
  --ion-background-color: #fff;
}
.logo ion-icon {
  font-size: 47px !important;
  margin-left: 156px;
  margin-top: 31px;
}

.logo h6 {
  color: #4d4c4c;
  font-family: "Kanit-Bold";
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin: 16px 0 0 0;
}

.logo p {
  color: #908f8f;
  font-family: "Kanit-Regular";
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin: 6px 0 0 0;
}

.logo h5 {
  color: #4d4c4c;
  font-family: "Kanit-Bold";
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin: 16px 0 0 0;
}

.logo ion-img {
  width: 136px;
  height: 143px;
  margin: 31px 0 29px 112px;
}

.input ion-item {
  width: 293px;
  height: 37px;
  --ion-box-shadow: none;
  --ion-background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #c4c4c4;
  border-radius: 5px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}

.input ion-item ion-input {
  color: #8e8e8e;
  font-family: "Kanit-Regular";
  font-size: 12px;
  margin-top: -15px;
}

.footer h6 {
  color: #00a651;
  font-family: "Kanit-Regular";
  font-size: 12px;
  text-decoration: underline;
  text-align: right;
  margin-right: 40px;
}

.footer h5 {
  width: 300px;
  height: 35px;
  color: #fff;
  background-color: #00a651;
  font-family: "Kanit-Regular";
  font-size: 14px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin: 0 auto;
  padding-top: 7px;
}

.footer .last {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.footer .last p {
  color: #00a651;
  font-family: "Kanit-Regular";
  font-size: 12px;
  justify-content: start;
  margin: 0px;
  margin-left: 45px;
}

.footer .last p1 {
  color: #00a651;
  font-family: "Kanit-Bold";
  font-size: 12px;
  text-decoration: underline;
  justify-content: end;
  margin-right: 45px;
}
</style>
