<template>
    <ion-page>
        <ion-content :fullscreen="true">
            <div class="header">
                <h6>Welcome</h6>
                <h5>to <h4 style="color: #00A651">M</h4>edical Care</h5>
                <p>จัดส่งยาจากทางโรงพยาบาลถึงหน้า</p>
                <p>บ้านโดยที่ท่านไม่ต้องเดินทางไปรับด้วยตัวเอง</p>
                <ion-img
                :src="require(`../../src/assets/img/Tutorial4.png`)"
                ></ion-img>
                <p1>กดเพื่อเริ่มต้น</p1>
            </div>
        </ion-content>
    </ion-page>
</template>

<script lang="ts">
import { IonPage, IonContent,  IonImg } from "@ionic/vue";

export default {
  components: { IonPage, IonContent,  IonImg },
};
</script>

<style>
ion-content {
    --ion-background-color: #fff;
}

.header ion-img {
    width: 302px;
    height: 234px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.header h6 {
    font-size: 24px;
    font-family: "Kanit-Bold";
    margin: 59px 0 0 61px;
}

.header h5 {
    font-size: 24px;
    font-family: "Kanit-Bold";
    margin-left: 61px;
    margin-top: 9px;
    display: flex;
}

.header h4 {
    font-size: 24px;
    font-family: "Kanit-Bold";
    display: flex;
    margin: 0 0 0 9px;
}

.header p {
    font-size: 14px;
    font-family: "Kanit-Regular";
    color: #000;
    opacity: 60%;
    margin: 0 0 0 61px;
}

.header p1 {
    color:#fff;
    background: #00A651;
    font-size: 14px;
    font-family: "Kanit-Regular";
    border: 2px solid #00A651;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 0 0 0 113px;
}
</style>