<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="OTPbuypill">
        <img
          :src="require(`../assets/img/payment04.png`)"
          style="margin-bottom: 70px"
        />
        <img
          :src="require(`../assets/img/MClogo.png`)"
          style="margin-bottom: 20px"
        />

        <h6
          style="
            font-size: 14px;
            font-family: 'Kanit-Regular';
            margin-bottom: 20px;
            color: #807c7c;
          "
        >
          ยืนยันรหัส OTP 4 หลัก ที่ท่านได้รับ
        </h6>

        <div
          style="
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
          "
        >
          <div class="boxinOTP"></div>
          <div class="boxinOTP"></div>
          <div class="boxinOTP"></div>
          <div class="boxinOTP"></div>
        </div>

        <div
          style="
            display: flex;
            align-items: center;
            width: 134px;
            height: 40px;
            background: #00a651;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin: 0 auto;
          "
        >
          <p
            style="
              margin: 0 auto;
              font-size: 16px;
              font-family: 'Kanit-Regular';
              color: #fff;
            "
            @click="this.$router.push({ path: 'Payment4' })"
          >
            ยืนยัน
          </p>
        </div>
        <p
          style="
            font-size: 12px;
            font-family: 'Kanit-Regular';
            text-decoration-line: underline;
            color: #807c7c;
          "
        >
          หากท่านยังไม่ได้รับรหัสให้กดที่นี่เพื่อส่งใหม่อีกครั้ง
        </p>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonContent } from "@ionic/vue";

export default {
  components: { IonPage, IonContent},
};
</script>

<style scoped>
.OTPbuypill {
  text-align: center;
  padding: 18px 35px 0 35px;
  height: 100%;
  background: #f2fbf6;
}

.boxinOTP {
  height: 54px;
  width: 51px;
  background: #ffffff;
  border-radius: 12px;
  border: 2px solid #00a651;
}
</style>
