<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="hearder">
        <!-- <ion-button fill="clear"> -->
        <!-- <ion-icon :src="require(`../../src/assets/icon/menu_white.svg`)" />  -->
        <div class="hamburgmenu">
          <hamburger></hamburger>
        </div>
        <!-- </ion-button> -->

        <div class="logo">
          <ion-icon :src="require(`../../src/assets/icon/plus.svg`)" />
          <ion-text color="light">Medical Care</ion-text>
        </div>

        <ion-button fill="clear">
          <ion-icon
            :src="require(`../../src/assets/icon/notifications_white.svg`)"
          />
        </ion-button>
      </div>

      <div class="search-bar">
        <ion-searchbar search-icons="d-search"></ion-searchbar>
      </div>

      <div class="name-bar">
        <ion-text color="light">
          <h6>สวัสดี คุณประหยัด</h6>
          <p>จัดส่งยาจากทางโรงพยาบาลถึงหน้าบ้านของท่าน</p>
        </ion-text>
      </div>

      <div class="card">
        <ion-img
          :src="require(`../../src/assets/img/rain_banner.png`)"
        ></ion-img>

        <p>บริการ</p>

        <ion-row>
          <ion-col
            ><Card
              name="ปรึกษาเเพทย์"
              :link="require(`../../src/assets/icon/question_answer.svg`)"
          /></ion-col>
          <ion-col @click="this.$router.push({ path: 'Emergency' })"
            ><Card
              name="เเจ้งเหตุฉุกเฉิน"
              :link="require(`../../src/assets/icon/car-emergency_3.svg`)"
          /></ion-col>
          <ion-col
            ><Card
              name="ข้อมูลรายละเอียดยา"
              :link="require(`../../src/assets/icon/pill.svg`)"
          /></ion-col>
        </ion-row>
      </div>

      <div class="content-section">
        <ion-img
          :src="require(`../../src/assets/img/vaccine_banner.png`)"
        ></ion-img>

        <div class="content-section-text">
          <p>ข่าวสาร</p>
          <p style="color: #00a651">ทั้งหมด</p>
        </div>

        <div class="news-section">
          <ion-scroll scrollX="true">
            <News
              name="ข่าว 1"
              :link="require(`../../src/assets/img/news1.png`)"
            >
              <template #text-detail>
                <p style="font-size: 12px; padding-left: 5px; margin-top: 0">
                  โรคหน้าร้อนในเด็ก"<br />พ่อแม่เตรียมพร้อม...
                </p>
              </template>
            </News>

            <News
              name="ข่าว 2"
              :link="require(`../../src/assets/img/news2.png`)"
            >
              <template #text-detail>
                <p style="font-size: 12px; padding-left: 5px; margin-top: 0">
                  โรคแปลกหายากในเด็ก <br />ที่อาจทำลูกป่วย...
                </p>
              </template>
            </News>

            <News
              name="ข่าว 3"
              :link="require(`../../src/assets/img/news3.png`)"
            >
              <template #text-detail>
                <p style="font-size: 12px; padding-left: 5px; margin-top: 0">
                  โรคลมชัก<br />เป็นโรคสมองในเด็ก...
                </p>
              </template>
            </News>

            <News
              name="ข่าว 4"
              :link="require(`../../src/assets/img/news4.png`)"
            >
              <template #text-detail>
                <p style="font-size: 12px; padding-left: 5px; margin-top: 0">
                  โรคระบบทางเดินหายใจ<br />และปอดในเด็ก....
                </p>
              </template>
            </News>
          </ion-scroll>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonContent,
  IonIcon,
  IonImg,
  IonButton,
  IonCol,
  IonRow,
  IonText,
  IonSearchbar,
} from "@ionic/vue";

//mport ExploreContainer from "../components/ExploreContainer.vue";
import Card from "../components/Card.vue";
import News from "../components/News.vue";
import Hamburger from "../components/Hamburger.vue";

export default {
  name: "Tab1",
  components: {
    IonPage,
    IonContent,
    IonIcon,
    IonImg,
    IonButton,
    IonCol,
    IonRow,
    IonText,
    IonSearchbar,
    Card,
    News,
    Hamburger,
  },
};
</script>

<style scoped>
ion-content {
  --ion-background-color: #00a651;
}

ion-content .card {
  height: 62%;
  width: 100%;
  background: #fff;
  position: relative;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  padding: 1rem 1rem 0 1rem;
}

ion-content .hearder {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

ion-content .hearder ion-icon {
  font-size: 28px;
  padding-bottom: 10px;
}

ion-content .hearder .hamburgmenu {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

ion-content .search-bar {
  padding: 0 1rem;
}

.name-bar {
  padding: 0.5rem 1.3rem;
}

.name-bar ion-text h6 {
  font-family: "Kanit-Light";
  font-size: 22px;
  margin-bottom: 0;
}

.name-bar ion-text p {
  font-family: "Kanit-Light";
  font-size: 12px;
  margin-top: 5px;
}

.card p {
  font-family: "Kanit-Regular";
  font-size: 16px;
}

ion-content ion-icon {
  margin-top: 15px;
  padding-bottom: 5px;
}

.hearder ion-text {
  font-family: "Nunito-Bold";
  font-size: 17px;
}

ion-searchbar {
  --ion-box-shadow: none;
  --ion-background-color: #f3f3f3;
  --border-radius: 0.6rem;

  padding: 0;
}

.card ion-row {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card ion-row ion-col {
  margin: 6px;
}

.content-section {
  height: 70%;
  background: #fff;

  padding: 0 1rem 1rem 1rem;
}

.content-section-text {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem 0 0.5rem;
}

.content-section-text p {
  font-family: "Kanit-Regular";
  font-size: 16px;
}

.logo {
  display: flex;
  justify-content: space-evenly;
}

.logo ion-icon {
  font-size: 19px !important;
  margin: 10px 5px;
  padding-top: 6px;
}

.logo ion-text {
  margin: 10px 5px;
  padding-top: 5px;
}

.news-section ion-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
</style>
