<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="closebar">
        <ion-icon
          :src="require(`../../src/assets/icon/CloseTab.svg`)"
          @click="this.$router.push({ path: 'tab3' })"
        />
      </div>
      <div class="pilldetailtab">
        <h3>พาราเซตามอล</h3>
        <img :src="require(`../assets/img/videoPill.png`)" />
        <div style="display: flex; justify-content: space-between">
          <p style="font-size: 12px; color: #00a651">วิธีทานยา</p>
          <p style="font-size: 12px">หมายเลขประจำตัว : 12208105430</p>
        </div>

        <div class="howtoeat" s>
          <p style="font-size: 14px; margin: 0 0 10px 0; text-align: left">
            ชื่อผู้ป่วย : คุณประหยัด มีบุญ
          </p>
          <p style="font-size: 12px; margin: 0; text-align: left">
            วิธีการทานยา : หลังอาหาร / ครั้งละ 1 เม็ด / เช้า - เย็น
            หรือทุกครั้งที่รู้สึกมีไข้
          </p>
        </div>

        <p style="font-size: 12px; color: #00a651; text-align: left">
          รายละเอียดเพิ่มเติม
        </p>

        <div class="howtoeat">
          <p style="font-size: 14px; margin: 0 0 10px 0; text-align: left">
            สรรพคุณของยา
          </p>
          <p style="font-size: 12px; margin: 0; text-align: left">
            จัดเป็นยาแก้ปวดลดไข้ชนิดหนึ่งที่ได้ผลดีช่วยในการ
            บรรเทาอาการปวดได้หลายอย่าง เช่น ปวดศีรษะ ปวดไหล่
            ปวดหลังเป็นต้นโดยเป็นยาที่ใช้บรรเทาอาการ
            ปวดน้อยถึงปวดปานกลางเท่านั้น ไม่มีฤทธิ์ต้านการ
            อักเสบและไม่มีผลต่ออาการปวดขั้นรุนแรง เช่น การผ่าตัดหรือมะเร็ง
          </p>
        </div>

        <div
          style="width: 100%; border-radius: 5px; color: #757575; padding: 5px"
        >
          <p style="text-align: center; margin: 0; font-size: 12px">
            อ่านเพิ่มเติม
          </p>
        </div>

        <dir
          style="background-color: #dce5e0; height: 1px; margin: 8px 0"
        ></dir>

        <div
          style="
            box-sizing: border-box;
            width: 100%;
            height: 40px;
            background: #ff3030;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 5px;
            display: flex;
            align-items: center;
            margin-top: 30px;
          "
        >
          <p style="margin: 0 auto; font-size: 14px; color: #fff">
            ลบยาตัวนี้ออกจากคลังยา
          </p>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonContent, IonIcon } from "@ionic/vue";

export default {
  components: { IonPage, IonContent, IonIcon },
};
</script>

<style scoped>
.pilldetailtab {
  text-align: center;
  padding: 65px 28px 0 28px;
  height: 810px;
  font-family: "Kanit-Regular";
}

.howtoeat {
  width: 100%;

  background: #ffffff;
  border: 0.5px solid #00a651;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 20px;
}
</style>
