<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="hearder">
        <ion-button fill="clear">
          <ion-icon :src="require(`../../src/assets/icon/menu_white.svg`)" />
        </ion-button>

        <div class="logo">
          <ion-icon :src="require(`../../src/assets/icon/plus.svg`)" />
          <ion-text color="light">Medical Care</ion-text>
        </div>

        <ion-button fill="clear">
          <ion-icon
            :src="require(`../../src/assets/icon/notifications_white.svg`)"
          />
        </ion-button>
      </div>

      <div class="status-card">
        <StatusCard
          :link="require(`../../src/assets/icon/calendar_today.svg`)"
          name="การนัดหมายที่กำลังจะมาถึง"
          date="21 พฤศจิกายน 2021"
          detail="นัดพบเเพทย์ ที่ โรงพยาบาล "
          time="เวลา 9:00 น."
        />
      </div>

      <div class="card">
        <div class="card-header">
          <div class="date">
            <div class="month">
              <h2>พฤศจิกายน</h2>
              <ion-icon
                :src="require(`../../src/assets/icon/keyboard_arrow_down.svg`)"
              />
            </div>

            <p>วันนี้ : เสาร์ 19 พฤศจิกายน 2021</p>
          </div>
          <div class="date-button">
            <ion-button
              fill="clear"
              size="large"
              @click="this.$router.push({ path: 'DocterDay' })"
            >
              <ion-icon
                :src="require(`../../src/assets/icon/calender_date_btn.svg`)"
              />
            </ion-button>
            <p>วันพบเเพทย์</p>
          </div>
        </div>

        <div class="calendar">
          <div class="days">
            <p>Mo</p>
            <p>Tu</p>
            <p>We</p>
            <p>Th</p>
            <p>Fr</p>
            <p>Sa</p>
            <p>Su</p>
          </div>
          <div class="calendar-date">
            <p></p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
          </div>
          <div class="calendar-date">
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>10</p>
            <p>11</p>
            <p>12</p>
            <p>13</p>
          </div>
          <div class="calendar-date">
            <p>14</p>
            <p>15</p>
            <p>16</p>
            <p>17</p>
            <p>18</p>
            <p style="color: #00a651; font-family: Kanit-Bold">19</p>
            <p style="color: #1e2027; font-family: Kanit-Regular">20</p>
          </div>
          <div class="calendar-date">
            <p style="color: #1e2027; font-family: Kanit-Regular">21</p>
            <p style="color: #1e2027; font-family: Kanit-Regular">22</p>
            <p style="color: #1e2027; font-family: Kanit-Regular">23</p>
            <p style="color: #1e2027; font-family: Kanit-Regular">24</p>
            <p style="color: #1e2027; font-family: Kanit-Regular">25</p>
            <p style="color: #1e2027; font-family: Kanit-Regular">26</p>
            <p style="color: #1e2027; font-family: Kanit-Regular">27</p>
          </div>
          <div class="calendar-date">
            <p style="color: #1e2027; font-family: Kanit-Regular">28</p>
            <p style="color: #1e2027; font-family: Kanit-Regular">29</p>
            <p style="color: #1e2027; font-family: Kanit-Regular">30</p>
            <p style="color: #1e2027; font-family: Kanit-Regular">31</p>
            <p></p>
            <p></p>
            <p></p>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonContent, IonIcon, IonButton, IonText } from "@ionic/vue";
import StatusCard from "../components/StatusCard.vue";

export default {
  name: "Tab2",
  components: { IonContent, IonPage, IonIcon, IonButton, StatusCard, IonText },
};
</script>

<style scoped>
/* header */
ion-content {
  --ion-background-color: #00a651;
}

ion-content .hearder {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

ion-content .hearder ion-icon {
  font-size: 28px;
  margin-top: 15px;
  padding-bottom: 10px;
}

ion-content .hearder ion-text {
  font-family: "Nunito-Bold";
  font-size: 17px;
}

ion-content .hearder .logo {
  display: flex;
  justify-content: space-evenly;
}

ion-content .hearder .logo ion-icon {
  font-size: 19px !important;
  margin: 10px 5px;
  padding-top: 6px;
}

ion-content .hearder .logo ion-text {
  margin: 10px 5px;
  padding-top: 5px;
}

/* status-card*/
ion-content .status-card {
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
}

/* card */
ion-content .card {
  height: 71%;
  width: 100%;
  background: #fff;
  position: relative;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  padding: 1rem 1rem 0 1rem;
}

ion-content .card-header {
  display: flex;
  justify-content: space-between;
}

/* date */
.card-header .date .month {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.card-header .date .month h2 {
  margin-top: 0.7rem;
  margin-left: 0.5rem;
  font-family: "Kanit-Regular";
  font-size: 22px;
}

.card-header .date .month ion-icon {
  font-size: 24px;
  padding-top: 5px;
}

.card-header .date p {
  margin: 0.2rem 0.6rem;
  font-family: "Kanit-Light";
  font-size: 14px;
}

/* date button */
.card-header .date-button ion-button {
  padding-top: 0.1rem;
  margin: 0;
}

.card-header .date-button ion-icon {
  font-size: 50px;
}

.card-header .date-button p {
  font-family: "Kanit-Light";
  font-size: 11px;
  text-align: center;
  margin: 0;
}

/* calendar */
ion-content .calendar {
  padding: 0 1.5rem 0 1.2rem;
}

.calendar .days {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.calendar .days p {
  font-family: "Kanit-Light";
  font-size: 14px;
  color: #6d7589;
}

.calendar .calendar-date {
  display: flex;
  justify-content: space-between;
}
.calendar .calendar-date p {
  font-family: "Kanit-Light";
  font-size: 14px;
  color: #6d7589;
}
</style>
