<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="hearder">
        <ion-button fill="clear">
          <ion-icon :src="require(`../../src/assets/icon/menu_white.svg`)"  />
        </ion-button>

        <div class="logo">
          <ion-icon :src="require(`../../src/assets/icon/plus.svg`)" />
          <ion-text color="light">Medical Care</ion-text>
        </div>

        <ion-button fill="clear">
          <ion-icon
            :src="require(`../../src/assets/icon/notifications_white.svg`)"
          />
        </ion-button>
      </div>

      <div class="status-card">
        <StatusCard
          :link="require(`../../src/assets/icon/medication.svg`)"
          name="ยาของฉัน"
          date="คลังยาทั้งหมด 2 รายการ"
          detail="การแจ้งเตือนทานยาถัดไป ฟ้าทะลายโจร"
          time=" เวลา 19.00 น."
        />
      </div>

      <div class="card">
        <div class="mytabs">
          <input type="radio" id="tabfree" name="mytabs" checked="checked" />
          <label for="tabfree"
            >คลังยาของฉัน
            <div class="tab-indicator"></div>
          </label>

          <div class="tab">
            <h6>ทั้งหมด 2 รายการ</h6>
            <div v-for="item in items" :key="item">
              <PillCard :name="item.name" :link="item.link" />
            </div>
          </div>

          <div class="mytabs"></div>
          <input type="radio" id="tabsilver" name="mytabs" />
          <label for="tabsilver"
            >เเจ้งเตือนกินยา
            <div class="tab-indicator"></div
          ></label>

          <div class="tab">
            <div style="display: flex; justify-content: flex-end">
              <ion-button fill="clear">
                <ion-icon
                  :src="require(`../../src/assets/icon/add_orange.svg`)"
                  style="font-size: 22px"
                />
              </ion-button>
            </div>

            <p>
              <TimerCard name="ฟ้าทะลายโจร">
                <template #timetitle>
                  <p
                    style="
                      fontsize: 16px;
                      margin: 12px 0 10px 0;
                      font-family: Nunito-Bold;
                    "
                  >
                    6:00
                  </p>
                  <p
                    style="
                      fontsize: 12px;
                      margin: 10px 0;
                      font-family: Kanit-Light;
                    "
                  >
                    M T W T F S S
                  </p>

                  <ion-toggle color="success"></ion-toggle>
                </template>
              </TimerCard>
              <TimerCard>
                <template #timetitle>
                  <p
                    style="
                      fontsize: 16px;
                      margin: 12px 0 10px 0;
                      font-family: Nunito-Bold;
                    "
                  >
                    6:00
                  </p>
                  <p
                    style="
                      fontsize: 12px;
                      margin: 10px 0;
                      font-family: Kanit-Light;
                    "
                  >
                    M T W T F S S
                  </p>

                  <ion-toggle color="success"></ion-toggle>
                </template>
              </TimerCard>

              <br />
              <br />
              <TimerCard name="พาราเซตามอล">
                <template #timetitle>
                  <p
                    style="
                      fontsize: 16px;
                      margin: 12px 0 10px 0;
                      font-family: Nunito-Bold;
                    "
                  >
                    6:00
                  </p>
                  <p
                    style="
                      fontsize: 12px;
                      margin: 10px 0;
                      font-family: Kanit-Light;
                    "
                  >
                    M T W T F S S
                  </p>

                  <ion-toggle color="success"></ion-toggle>
                </template>
              </TimerCard>
              <br>
            </p>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonContent,IonIcon,IonText,IonToggle,IonButton} from "@ionic/vue";
import StatusCard from "../components/StatusCard.vue";
import PillCard from "../components/PillCard.vue";
import TimerCard from "../components/TimerCard.vue";

export default {
  name: "Tab2",
  components: { IonContent, IonPage,IonIcon,IonText,IonToggle,IonButton, StatusCard, TimerCard, PillCard },
  data() {
    return {
      items: [
        {
          name: "พาราเซตามอล",
          link: require(`../../src/assets/img/para.png`),
        },
        {
          name: "ฟ้าทะลายโจร",
          link: require(`../../src/assets/img/herb.png`),
        },
      ],
    };
  },
};
</script>

<style scoped>
/* header */
ion-content {
  --ion-background-color: #00a651;
}

ion-content .hearder {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

ion-content .hearder ion-icon {
  font-size: 28px;
  margin-top: 15px;
  padding-bottom: 10px;
}

ion-content .hearder ion-text {
  font-family: "Nunito-Bold";
  font-size: 17px;
}

ion-content .hearder .logo {
  display: flex;
  justify-content: space-evenly;
}

ion-content .hearder .logo ion-icon {
  font-size: 19px !important;
  margin: 10px 5px;
  padding-top: 6px;
}

ion-content .hearder .logo ion-text {
  margin: 10px 5px;
  padding-top: 5px;
}

/* status-card*/
ion-content .status-card {
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
}

/* card */
ion-content .card {
  height: 73%;
  width: 100%;
  background: #f2fbf6;
  position: relative;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  padding: 1rem 1rem 0 1rem;
}

ion-content .card-header {
  display: flex;
  justify-content: space-between;
}

/* tabs */
.mytabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mytabs input[type="radio"] {
  display: none;
}
.mytabs label {
  padding: 10px;
  font-family: "Kanit-Regular";
  font-size: 16px;

}

.mytabs .tab {
  width: 100%;
  padding: 12px 20px;
  order: 1;
  display: none;
}

.mytabs .tab h6 {
  margin: 0 0 1rem 0;
  font-family: "Kanit-Regular";
  font-size: 12px;
  color: #00a651;
  text-align: right;
}

.mytabs .tab ion-icon {
  margin: 0 0 1rem 0;
  padding-top: 15px;
}

.mytabs .tab ion-button {
  margin: 0;
  padding-bottom: 20px;
}

.mytabs .tab p {
  margin: 0;
}

.mytabs .tab-indicator {
  height: 2px;
  background-color: #f2fbf6;
}

.mytabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.mytabs input[type="radio"]:checked + label .tab-indicator {
  background-color: #00a651;
}
</style>
