<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="hearder">
        <ion-button fill="clear">
          <ion-icon :src="require(`../../src/assets/icon/menu_white.svg`)" />
        </ion-button>

        <div class="logo">
          <ion-icon :src="require(`../../src/assets/icon/plus.svg`)" />
          <ion-text color="light">Medical Care</ion-text>
        </div>

        <ion-button fill="clear">
          <ion-icon
            :src="require(`../../src/assets/icon/notifications_white.svg`)"
          />
        </ion-button>
      </div>

      <div class="status-card">
        <StatusCard
          :link="require(`../../src/assets/icon/local_shipping.svg`)"
          name="การจัดส่งยา"
          date="การจัดส่งยา"
          detail="กรุณาชำระเงินก่อน"
          time="วันที่ 21 ตุลาคม 2021"
        />
      </div>

      <div class="card">
        <div class="tab-botton">
          <div
            class="NavContent-pilldetail"
            v-show="isActive(navbars[0].tab)"
            style="background-color: #00a651"
          >
            <div class="Nav-content-detail">
              <ion-button fill="clear" @click="setActive(navbars[0].tab)">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M17.7778 2.22222V17.7778H2.22222V2.22222H17.7778ZM19 0H1C0.444445 0 0 0.444445 0 1V19C0 19.4444 0.444445 20 1 20H19C19.4444 20 20 19.4444 20 19V1C20 0.444445 19.4444 0 19 0ZM8.88889 4.44444H15.5556V6.66667H8.88889V4.44444ZM8.88889 8.88889H15.5556V11.1111H8.88889V8.88889ZM8.88889 13.3333H15.5556V15.5556H8.88889V13.3333ZM4.44444 4.44444H6.66667V6.66667H4.44444V4.44444ZM4.44444 8.88889H6.66667V11.1111H4.44444V8.88889ZM4.44444 13.3333H6.66667V15.5556H4.44444V13.3333Z"
                    fill="#fff"
                  />
                </svg>
              </ion-button>
            </div>
            <p style="color: #fff">{{ navbars[0].name }}</p>
          </div>
          <div class="NavContent-pilldetail" v-show="!isActive(navbars[0].tab)">
            <div class="Nav-content-detail">
              <ion-button fill="clear" @click="setActive(navbars[0].tab)">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M17.7778 2.22222V17.7778H2.22222V2.22222H17.7778ZM19 0H1C0.444445 0 0 0.444445 0 1V19C0 19.4444 0.444445 20 1 20H19C19.4444 20 20 19.4444 20 19V1C20 0.444445 19.4444 0 19 0ZM8.88889 4.44444H15.5556V6.66667H8.88889V4.44444ZM8.88889 8.88889H15.5556V11.1111H8.88889V8.88889ZM8.88889 13.3333H15.5556V15.5556H8.88889V13.3333ZM4.44444 4.44444H6.66667V6.66667H4.44444V4.44444ZM4.44444 8.88889H6.66667V11.1111H4.44444V8.88889ZM4.44444 13.3333H6.66667V15.5556H4.44444V13.3333Z"
                    fill="currentColor"
                  />
                </svg>
              </ion-button>
            </div>
            <p>{{ navbars[0].name }}</p>
          </div>

          <div
            class="NavContent-waitdeliver"
            v-show="isActive(navbars[1].tab)"
            style="background-color: #00a651"
          >
            <div class="Nav-content-detail">
              <ion-button fill="clear" @click="setActive(navbars[1].tab)">
                <svg
                  width="28"
                  height="36"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 8H17V4H3C1.9 4 1 4.9 1 6V17H3C3 18.66 4.34 20 6 20C7.66 20 9 18.66 9 17H15C15 18.66 16.34 20 18 20C19.66 20 21 18.66 21 17H23V12L20 8ZM19.5 9.5L21.46 12H17V9.5H19.5ZM6 18C5.45 18 5 17.55 5 17C5 16.45 5.45 16 6 16C6.55 16 7 16.45 7 17C7 17.55 6.55 18 6 18ZM8.22 15C7.67 14.39 6.89 14 6 14C5.11 14 4.33 14.39 3.78 15H3V6H15V15H8.22ZM18 18C17.45 18 17 17.55 17 17C17 16.45 17.45 16 18 16C18.55 16 19 16.45 19 17C19 17.55 18.55 18 18 18Z"
                    fill="#fff"
                  />
                </svg>
              </ion-button>
            </div>
            <p style="color: #fff">{{ navbars[1].name }}</p>
          </div>
          <div
            class="NavContent-waitdeliver"
            v-show="!isActive(navbars[1].tab)"
          >
            <div class="Nav-content-detail">
              <ion-button fill="clear" @click="setActive(navbars[1].tab)">
                <svg
                  width="28"
                  height="36"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 8H17V4H3C1.9 4 1 4.9 1 6V17H3C3 18.66 4.34 20 6 20C7.66 20 9 18.66 9 17H15C15 18.66 16.34 20 18 20C19.66 20 21 18.66 21 17H23V12L20 8ZM19.5 9.5L21.46 12H17V9.5H19.5ZM6 18C5.45 18 5 17.55 5 17C5 16.45 5.45 16 6 16C6.55 16 7 16.45 7 17C7 17.55 6.55 18 6 18ZM8.22 15C7.67 14.39 6.89 14 6 14C5.11 14 4.33 14.39 3.78 15H3V6H15V15H8.22ZM18 18C17.45 18 17 17.55 17 17C17 16.45 17.45 16 18 16C18.55 16 19 16.45 19 17C19 17.55 18.55 18 18 18Z"
                    fill="currentColor"
                  />
                </svg>
              </ion-button>
            </div>
            <p>{{ navbars[1].name }}</p>
          </div>

          <div
            class="NavContent-toreceive"
            v-show="isActive(navbars[2].tab)"
            style="background-color: #00a651"
          >
            <div class="Nav-content-detail">
              <ion-button fill="clear" @click="setActive(navbars[2].tab)">
                <svg
                  width="21"
                  height="36"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M17.7778 0H2.21111C0.977778 0 0.0111111 0.988889 0.0111111 2.22222L0 17.7778C0 19 0.977778 20 2.21111 20H17.7778C19 20 20 19 20 17.7778V2.22222C20 0.988889 19 0 17.7778 0ZM17.7778 13.3333H13.3333C13.3333 15.1778 11.8333 16.6667 10 16.6667C8.16667 16.6667 6.66667 15.1778 6.66667 13.3333H2.21111V2.22222H17.7778V13.3333Z"
                    fill="#fff"
                  />
                </svg>
              </ion-button>
            </div>
            <p style="color: #fff">{{ navbars[2].name }}</p>
          </div>

          <div class="NavContent-toreceive" v-show="!isActive(navbars[2].tab)">
            <div class="Nav-content-detail">
              <ion-button fill="clear" @click="setActive(navbars[2].tab)">
                <svg
                  width="21"
                  height="36"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M17.7778 0H2.21111C0.977778 0 0.0111111 0.988889 0.0111111 2.22222L0 17.7778C0 19 0.977778 20 2.21111 20H17.7778C19 20 20 19 20 17.7778V2.22222C20 0.988889 19 0 17.7778 0ZM17.7778 13.3333H13.3333C13.3333 15.1778 11.8333 16.6667 10 16.6667C8.16667 16.6667 6.66667 15.1778 6.66667 13.3333H2.21111V2.22222H17.7778V13.3333Z"
                    fill="currentColor"
                  />
                </svg>
              </ion-button>
            </div>
            <p>{{ navbars[2].name }}</p>
          </div>

          <div
            class="NavContent-history"
            v-show="isActive(navbars[3].tab)"
            style="background-color: #00a651"
          >
            <div class="Nav-content-detail">
              <ion-button fill="clear" @click="setActive(navbars[3].tab)">
                <svg
                  width="28"
                  height="28"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13 3C8.03 3 4 7.03 4 12H1L4.89 15.89L4.96 16.03L9 12H6C6 8.13 9.13 5 13 5C16.87 5 20 8.13 20 12C20 15.87 16.87 19 13 19C11.07 19 9.32 18.21 8.06 16.94L6.64 18.36C8.27 19.99 10.51 21 13 21C17.97 21 22 16.97 22 12C22 7.03 17.97 3 13 3ZM12 8V13L16.25 15.52L17.02 14.24L13.5 12.15V8H12Z"
                    fill="#fff"
                  />
                </svg>
              </ion-button>
            </div>
            <p style="color: #fff">{{ navbars[3].name }}</p>
          </div>

          <div class="NavContent-history" v-show="!isActive(navbars[3].tab)">
            <div class="Nav-content-detail">
              <ion-button fill="clear" @click="setActive(navbars[3].tab)">
                <svg
                  width="28"
                  height="28"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13 3C8.03 3 4 7.03 4 12H1L4.89 15.89L4.96 16.03L9 12H6C6 8.13 9.13 5 13 5C16.87 5 20 8.13 20 12C20 15.87 16.87 19 13 19C11.07 19 9.32 18.21 8.06 16.94L6.64 18.36C8.27 19.99 10.51 21 13 21C17.97 21 22 16.97 22 12C22 7.03 17.97 3 13 3ZM12 8V13L16.25 15.52L17.02 14.24L13.5 12.15V8H12Z"
                    fill="currentColor"
                  />
                </svg>
              </ion-button>
            </div>
            <p>{{ navbars[3].name }}</p>
          </div>
        </div>

        <div class="detail-section">
          <div style="border-left: 3px solid #00a651; margin-left: 3px">
            <p
              style="
                padding: 10px;
                font-family: 'Kanit-Regular';
                font-size: 16px;
              "
            >
              รายการยา
            </p>
          </div>
          <div class="detail-card" v-show="isActive(navbars[0].tab)">
            <div class="detail-card-header">
              <p>ดูยาชนิดอื่นในใบสั่งจ่าย</p>

              <ion-icon
                :src="require(`../../src/assets/icon/arrow-right.svg`)"
              />
            </div>
            <div class="detail-card-detail">
              <div style="margin-left: 5px; display: flex">
                <img
                  :src="require(`../../src/assets/img/herbIndetailCard.png`)"
                  style="padding-bottom: 5px"
                />
                <dir style="margin: 0; padding-left: 12px">
                  <p
                    style="
                      margin: 0px;
                      font-family: 'Kanit-Regular';
                      font-size: 13px;
                    "
                  >
                    สารสกัดฟ้าทะลายโจร แคปซูล
                  </p>

                  <p
                    style="
                      margin: 2px 0 0 0;
                      font-family: 'Kanit-Regular';
                      font-size: 12px;
                      color: #757575;
                    "
                  >
                    2x10 แคปซูล/กล่อง
                  </p>
                </dir>
              </div>

              <div>
                <p
                  style="
                    margin: 2px 0 0 0;
                    font-family: 'Kanit-Regular';
                    font-size: 12px;
                  "
                >
                  135 บาท
                </p>
                <p
                  style="
                    margin: 2px 0 0 0;
                    font-family: 'Kanit-Regular';
                    font-size: 12px;
                    text-align: right;
                  "
                >
                  x2
                </p>
              </div>
            </div>
            <dir
              style="background-color: #dce5e0; height: 1px; margin: 8px 0"
            ></dir>
            <div class="detail-card-quantity">
              <div style="display: flex; justify-content: space-between">
                <p
                  style="
                    margin: 0;
                    font-family: 'Kanit-Regular';
                    font-size: 12px;
                  "
                >
                  ทั้งหมด 2 กล่อง
                </p>
                <p
                  style="
                    margin: 0;
                    font-family: 'Kanit-Regular';
                    font-size: 12px;
                    color: #757575;
                  "
                >
                  รวมการสั่งซื้อ
                  <p1 style="color: #000000"> 380 บาท</p1>
                </p>
              </div>
              <dir
                style="background-color: #dce5e0; height: 1px; margin: 8px 0"
              ></dir>
              <div style="display: flex; justify-content: space-between">
                <p
                  style="
                    margin: 0;
                    font-family: 'Kanit-Regular';
                    font-size: 10px;
                  "
                >
                  รายละเอียดการจัดส่ง
                </p>
                <p
                  style="
                    margin: 0;
                    font-family: 'Kanit-Regular';
                    font-size: 10px;
                    color: #757575;
                  "
                ></p>
              </div>
              <dir
                style="background-color: #dce5e0; height: 1px; margin: 8px 0"
              ></dir>
              <div class="detail-card-footer">
                <div>
                  <p
                    style="
                      margin: 0;
                      font-family: 'Kanit-Regular';
                      font-size: 10px;
                      text-align: left;
                    "
                  >
                    กรุณาชำระเงินก่อนภายใน<br />
                    วันที่ 21 ตุลาคม 2021
                  </p>
                </div>
                <div style="display: flex; gap: 10px">
                  <div class="create-btn">
                    <p>ไปรับเอง</p>
                  </div>
                  <div
                    class="detail-btn"
                    @click="this.$router.push({ path: 'Payment1' })"
                  >
                    <p>ชำระเงิน</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="detail-card" v-show="isActive(navbars[1].tab)">
            <div class="detail-card-header">
              <p>ดูยาชนิดอื่นในใบสั่งจ่าย</p>

              <ion-icon
                :src="require(`../../src/assets/icon/arrow-right.svg`)"
              />
            </div>
            <div class="detail-card-detail">
              <div style="margin-left: 5px; display: flex">
                <img
                  :src="require(`../../src/assets/img/herbIndetailCard.png`)"
                  style="padding-bottom: 5px"
                />
                <dir style="margin: 0; padding-left: 12px">
                  <p
                    style="
                      margin: 0px;
                      font-family: 'Kanit-Regular';
                      font-size: 13px;
                    "
                  >
                    สารสกัดฟ้าทะลายโจร แคปซูล
                  </p>

                  <p
                    style="
                      margin: 2px 0 0 0;
                      font-family: 'Kanit-Regular';
                      font-size: 12px;
                      color: #757575;
                    "
                  >
                    2x10 แคปซูล/กล่อง
                  </p>
                </dir>
              </div>

              <div>
                <p
                  style="
                    margin: 2px 0 0 0;
                    font-family: 'Kanit-Regular';
                    font-size: 12px;
                  "
                >
                  135 บาท
                </p>
                <p
                  style="
                    margin: 2px 0 0 0;
                    font-family: 'Kanit-Regular';
                    font-size: 12px;
                    text-align: right;
                  "
                >
                  x2
                </p>
              </div>
            </div>
            <dir
              style="background-color: #dce5e0; height: 1px; margin: 8px 0"
            ></dir>
            <div class="detail-card-quantity">
              <div style="display: flex; justify-content: space-between">
                <p
                  style="
                    margin: 0;
                    font-family: 'Kanit-Regular';
                    font-size: 12px;
                  "
                >
                  ทั้งหมด 2 กล่อง
                </p>
                <p
                  style="
                    margin: 0;
                    font-family: 'Kanit-Regular';
                    font-size: 12px;
                    color: #757575;
                  "
                >
                  รวมการสั่งซื้อ
                  <p1 style="color: #000000"> 380 บาท</p1>
                </p>
              </div>
              <dir
                style="background-color: #dce5e0; height: 1px; margin: 8px 0"
              ></dir>
              <div style="display: flex; justify-content: space-between">
                <p
                  style="
                    margin: 0;
                    font-family: 'Kanit-Regular';
                    font-size: 10px;
                  "
                >
                  ทางโรงพยาบาลกำลังเตรียมพัสดุ
                </p>
                <p
                  style="
                    margin: 0;
                    font-family: 'Kanit-Regular';
                    font-size: 10px;
                    color: #757575;
                  "
                ></p>
              </div>
              <dir
                style="background-color: #dce5e0; height: 1px; margin: 8px 0"
              ></dir>
              <div class="detail-card-footer">
                <div>
                  <p
                    style="
                      margin: 0;
                      font-family: 'Kanit-Regular';
                      font-size: 10px;
                      text-align: left;
                    "
                  >
                    ทางโรงพยาบาลจะส่งยาของท่านไปยังผู้ให้บริการขนส่ง<br />
                    ภายในวันที่ วว/ดด/ปป
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="detail-card" v-show="isActive(navbars[2].tab)">
            <div class="detail-card-header">
              <p>ดูยาชนิดอื่นในใบสั่งจ่าย</p>

              <ion-icon
                :src="require(`../../src/assets/icon/arrow-right.svg`)"
              />
            </div>
            <div class="detail-card-detail">
              <div style="margin-left: 5px; display: flex">
                <img
                  :src="require(`../../src/assets/img/herbIndetailCard.png`)"
                  style="padding-bottom: 5px"
                />
                <dir style="margin: 0; padding-left: 12px">
                  <p
                    style="
                      margin: 0px;
                      font-family: 'Kanit-Regular';
                      font-size: 13px;
                    "
                  >
                    สารสกัดฟ้าทะลายโจร แคปซูล
                  </p>

                  <p
                    style="
                      margin: 2px 0 0 0;
                      font-family: 'Kanit-Regular';
                      font-size: 12px;
                      color: #757575;
                    "
                  >
                    2x10 แคปซูล/กล่อง
                  </p>
                </dir>
              </div>

              <div>
                <p
                  style="
                    margin: 2px 0 0 0;
                    font-family: 'Kanit-Regular';
                    font-size: 12px;
                  "
                >
                  135 บาท
                </p>
                <p
                  style="
                    margin: 2px 0 0 0;
                    font-family: 'Kanit-Regular';
                    font-size: 12px;
                    text-align: right;
                  "
                >
                  x2
                </p>
              </div>
            </div>
            <dir
              style="background-color: #dce5e0; height: 1px; margin: 8px 0"
            ></dir>
            <div class="detail-card-quantity">
              <div style="display: flex; justify-content: space-between">
                <p
                  style="
                    margin: 0;
                    font-family: 'Kanit-Regular';
                    font-size: 12px;
                  "
                >
                  ทั้งหมด 2 กล่อง
                </p>
                <p
                  style="
                    margin: 0;
                    font-family: 'Kanit-Regular';
                    font-size: 12px;
                    color: #757575;
                  "
                >
                  รวมการสั่งซื้อ
                  <p1 style="color: #000000"> 380 บาท</p1>
                </p>
              </div>
              <dir
                style="background-color: #dce5e0; height: 1px; margin: 8px 0"
              ></dir>
              <div style="display: flex; justify-content: space-between">
                <p
                  style="
                    margin: 0;
                    font-family: 'Kanit-Regular';
                    font-size: 10px;
                  "
                >
                  ติดตามพัสดุ
                </p>
                <p
                  style="
                    margin: 0;
                    font-family: 'Kanit-Bold';
                    text-decoration-line: underline;
                    font-size: 10px;
                    color: #757575;
                  "
                >
                  ดูรายละเอียดการจัดส่ง
                </p>
              </div>
              <dir
                style="background-color: #dce5e0; height: 1px; margin: 8px 0"
              ></dir>
              <div class="detail-card-footer">
                <div>
                  <p
                    style="
                      margin: 0;
                      font-family: 'Kanit-Regular';
                      font-size: 10px;
                      text-align: left;
                    "
                  >
                    ทางโรงพยาบาลจะส่งยาของท่านไปยังผู้ให้บริการขนส่ง <br />
                    ภายในวันที่ 30 ตุลาคม 2021
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="detail-card" v-show="isActive(navbars[3].tab)">
            <div class="detail-card-header">
              <p>ดูยาชนิดอื่นในใบสั่งจ่าย</p>

              <ion-icon
                :src="require(`../../src/assets/icon/arrow-right.svg`)"
              />
            </div>
            <div class="detail-card-detail">
              <div style="margin-left: 5px; display: flex">
                <img
                  :src="require(`../../src/assets/img/herbIndetailCard.png`)"
                  style="padding-bottom: 5px"
                />
                <dir style="margin: 0; padding-left: 12px">
                  <p
                    style="
                      margin: 0px;
                      font-family: 'Kanit-Regular';
                      font-size: 13px;
                    "
                  >
                    สารสกัดฟ้าทะลายโจร แคปซูล
                  </p>

                  <p
                    style="
                      margin: 2px 0 0 0;
                      font-family: 'Kanit-Regular';
                      font-size: 12px;
                      color: #757575;
                    "
                  >
                    2x10 แคปซูล/กล่อง
                  </p>
                </dir>
              </div>

              <div>
                <p
                  style="
                    margin: 2px 0 0 0;
                    font-family: 'Kanit-Regular';
                    font-size: 12px;
                  "
                >
                  135 บาท
                </p>
                <p
                  style="
                    margin: 2px 0 0 0;
                    font-family: 'Kanit-Regular';
                    font-size: 12px;
                    text-align: right;
                  "
                >
                  x2
                </p>
              </div>
            </div>
            <dir
              style="background-color: #dce5e0; height: 1px; margin: 8px 0"
            ></dir>
            <div class="detail-card-quantity">
              <div style="display: flex; justify-content: space-between">
                <p
                  style="
                    margin: 0;
                    font-family: 'Kanit-Regular';
                    font-size: 12px;
                  "
                >
                  ทั้งหมด 2 กล่อง
                </p>
                <p
                  style="
                    margin: 0;
                    font-family: 'Kanit-Regular';
                    font-size: 12px;
                    color: #757575;
                  "
                >
                  รวมการสั่งซื้อ
                  <p1 style="color: #000000"> 380 บาท</p1>
                </p>
              </div>
              <dir
                style="background-color: #dce5e0; height: 1px; margin: 8px 0"
              ></dir>
              <div style="display: flex; justify-content: space-between">
                <p
                  style="
                    margin: 0;
                    font-family: 'Kanit-Regular';
                    font-size: 10px;
                  "
                >
                  รายละเอียดการจัดส่ง
                </p>
                <p
                  style="
                    margin: 0;
                    font-family: 'Kanit-Bold';
                    text-decoration-line: underline;
                    font-size: 10px;
                    color: #757575;
                  "
                >
                  ดูรายละเอียดการจัดส่ง
                </p>
              </div>
              <dir
                style="background-color: #dce5e0; height: 1px; margin: 8px 0"
              ></dir>
              <div class="detail-card-footer">
                <div>
                  <p
                    style="
                      margin: 0;
                      font-family: 'Kanit-Regular';
                      font-size: 10px;
                      text-align: left;
                      color: #00a651;
                    "
                  >
                    จัดส่งสำเร็จเเล้ว<br />
                    วันที่ 21 ตุลาคม 2021
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonContent } from "@ionic/vue";
import StatusCard from "../components/StatusCard.vue";
//import NavContent from "../components/NavContent.vue";

export default {
  name: "Tab2",
  components: {
    IonContent,
    IonPage,
    StatusCard,
    ///NavContent,
  },
  data() {
    return {
      activeTab: "pilldetail",
      navbars: [
        {
          name: "รายการยา",
          link: require(`../../src/assets/icon/deliver1_green.svg`),
          tab: "pilldetail",
        },
        {
          name: "รอการจัดส่ง",
          link: require("../../src/assets/icon/local_shipping_green.svg"),
          tab: "waitdeliver",
        },
        {
          name: "ที่ต้องได้รับ",
          link: require("../../src/assets/icon/reciever_green.svg"),
          tab: "toreceive",
        },
        {
          name: "ประวัติ",
          link: require("../../src/assets/icon/history_green.svg"),
          tab: "history",
        },
      ],
    };
  },
  methods: {
    setActive(tab) {
      this.activeTab = tab;
      console.log(this.activeTab);
    },

    isActive(tab) {
      return this.activeTab === tab;
    },
  },
};
</script>

<style scoped>
/* header */
ion-content {
  --ion-background-color: #00a651;
}

ion-content .hearder {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

ion-content .hearder ion-icon {
  font-size: 28px;
  margin-top: 15px;
  padding-bottom: 10px;
}

ion-content .hearder ion-text {
  font-family: "Nunito-Bold";
  font-size: 17px;
}

ion-content .hearder .logo {
  display: flex;
  justify-content: space-evenly;
}

ion-content .hearder .logo ion-icon {
  font-size: 19px !important;
  margin: 10px 5px;
  padding-top: 6px;
}

ion-content .hearder .logo ion-text {
  margin: 10px 5px;
  padding-top: 5px;
}

/* status-card*/
ion-content .status-card {
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
}

/* card */
ion-content .card {
  height: 78%;
  width: 100%;
  background: #f2fbf6;
  position: relative;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  padding: 1rem 1rem 0 1rem;
}

ion-content .card-header {
  display: flex;
  justify-content: space-between;
}

.card .tab-botton {
  display: flex;
  justify-content: space-between;
}

/* tabs */
.mytabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  padding: 10px;
  font-family: "Kanit-Regular";
  font-size: 16px;
  font-weight: bo;
}

.mytabs .tab {
  width: 100%;
  padding: 12px 20px;
  order: 1;
  display: none;
}

.mytabs .tab h6 {
  margin: 0 0 1rem 0;
  font-family: "Kanit-Regular";
  font-size: 12px;
  color: #00a651;
  text-align: right;
}

.mytabs .tab ion-icon {
  margin: 0 0 1rem 0;
  padding-top: 15px;
}

.mytabs .tab ion-button {
  margin: 0;
  padding-bottom: 20px;
}

.mytabs .tab p {
  margin: 0;
}

.mytabs .tab-indicator {
  height: 2px;
  background-color: #f2fbf6;
}

.mytabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.mytabs input[type="radio"]:checked + label .tab-indicator {
  background-color: #00a651;
}

/* detail-section */
.detail-section {
  margin-top: 20px;
}

/* detail-card */
.detail-card {
  position: absolute;
  width: 323px;
  height: 235px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.detail-card .detail-card-header {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 10px;
  height: 26px;
}

.detail-card .detail-card-header ion-button {
  width: 29px;
}

.detail-card .detail-card-header p {
  font-family: "Kanit-Regular";
  font-size: 12px;
  margin: 0;
}

.detail-card .detail-card-header ion-icon {
  font-size: 10px;
}

.detail-card-detail {
  display: flex;
  justify-content: space-between;
  margin: 13px 0 0 0;
}

.detail-card-quantity {
  text-align: right;
}

.detail-card-footer {
  display: flex;
  justify-content: space-between;
}

/* status-detail */
.detail-btn {
  background: #00a651;
  border-radius: 5px;
  border: 1px solid #00a651;
}

.create-btn {
  border-radius: 5px;
  border: 1px solid #00a651;
}

.create-btn p {
  font-family: "Kanit-Regular";
  font-size: 11px;
  color: #00a651;
  padding: 5px 10px;
  text-align: center;
  margin: 2px;
}

.detail-btn p {
  font-family: "Kanit-Regular";
  color: white;
  font-size: 11px;
  padding: 5px 10px;
  text-align: center;
  margin: 2px;
}

/* .NavContent */
.NavContent-pilldetail {
  width: 71px;
  height: 71px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #00a651;
  box-sizing: border-box;
  border-radius: 15px;
  border-radius: 15px;
}
.NavContent-waitdeliver {
  width: 71px;
  height: 71px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #00a651;
  box-sizing: border-box;
  border-radius: 15px;
  border-radius: 15px;
}
.NavContent-toreceive {
  width: 71px;
  height: 71px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #00a651;
  box-sizing: border-box;
  border-radius: 15px;
  border-radius: 15px;
}

.NavContent-history {
  width: 71px;
  height: 71px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #00a651;
  box-sizing: border-box;
  border-radius: 15px;
  border-radius: 15px;
}

.NavContent-pilldetail p {
  font-family: "Kanit-light";
  font-size: 12px;
  text-align: center;
  margin: -6px;
  color: #00a651;
}
.NavContent-waitdeliver p {
  font-family: "Kanit-light";
  font-size: 12px;
  text-align: center;
  margin: -6px;
  color: #00a651;
}
.NavContent-toreceive p {
  font-family: "Kanit-light";
  font-size: 12px;
  text-align: center;
  margin: -6px;
  color: #00a651;
}

.NavContent-history p {
  font-family: "Kanit-light";
  font-size: 12px;
  text-align: center;
  margin: -6px;
  color: #00a651;
}

.NavContent-pilldetail svg {
  color: #00a651;
}
.NavContent-waitdeliver svg {
  color: #00a651;
}
.NavContent-toreceive svg {
  color: #00a651;
}

.NavContent-history svg {
  color: #00a651;
}
</style>
