<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="hearder">
        <ion-button fill="clear">
          <ion-icon :src="require(`../../src/assets/icon/hambuger.svg`)" />
        </ion-button>

        <div class="logo">
          <ion-icon :src="require(`../../src/assets/icon/PLus_black.svg`)" />
          <ion-text color="Black">Medical Care</ion-text>
        </div>

        <ion-button fill="clear">
          <ion-icon :src="require(`../../src/assets/icon/notifications.svg`)" />
        </ion-button>
      </div>

      <div class="profile">
        <ion-img :src="require('../../src/assets/img/Profile.png')"></ion-img>

        <h6 style="color: Black">คุณประหยัด มีบุญ</h6>
        <p style="color: #abafb3">หมายเลขประจำตัว : 12208105430</p>
      </div>

      <div class="card">
        <ion-row>
          <ion-col
            ><CardProfile
              name="ข้อมูลทั่วไปของผู้ป่วย"
              :link="require('../../src/assets/icon/ProfileDetail.svg')"
          /></ion-col>
          <ion-col
            ><CardProfile
              name="ประวัติการรักษา"
              :link="require('../../src/assets/icon/HistoryProfile.svg')"
          /></ion-col>
          <ion-col
            ><CardProfile
              name="ข้อมูลบัญชีธนาคาร"
              :link="require('../../src/assets/icon/BankProfile.svg')"
          /></ion-col>
        </ion-row>
      </div>

      <!--<div class="Setting">
        <ion-col>
          <ion-row
          ><SetProfile
            name="ตั้งค่าทั่วไป"
            :link="require('../../src/assets/icon/Setting.svg')"
            option : ["ภาษา"]
          />
            </ion-row>
          <ion-row
          ><SetProfile
            name="แก้ไขข้อมูลส่วนตัว"
            :link="require('../../src/assets/icon/PrivateProfile.svg')"
          /></ion-row>
          <ion-row
          ><SetProfile
            name="ตั้งค่าการแจ้งเตือน"
            :link="require('../../src/assets/icon/Notification_green.svg')"
          /></ion-row>
          <ion-row
          ><SetProfile
            name="ตั้งค่าความปลอดภัย"
            :link="require('../../src/assets/icon/Shield_Green.svg')"
          /></ion-row>
        </ion-col>
      </div>-->

      <div class="setting">
        <setting1></setting1>
      </div>

      <div class="SignOut">
        <ion-button fill="clear">
          <img src="../../src/assets/icon/SignOutGreen.svg" />
        </ion-button>
        <h6 style="color: #00a651">ออกจากระบบ</h6>
      </div>

      <ExploreContainer name="Tab 5 page" />
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonContent,
  IonIcon,
  IonImg,
  IonButton,
  IonCol,
  IonRow,
  IonText,
} from "@ionic/vue";

//mport ExploreContainer from "../components/ExploreContainer.vue";
// import Card from "../components/Card.vue";
// import News from "../components/News.vue";
// import Hamburger from "../components/Hamburger.vue";

// export default {
//   name: "Tab1",
//   components: {
//     IonPage,
//     IonContent,
//     IonIcon,
//     IonImg,
//     IonButton,
//     IonCol,
//     IonRow,
//     IonText,
//     IonSearchbar,
//     Card,
//     News,
//     Hamburger,
//   },
// };

import CardProfile from "../components/CardProfile.vue";
import setting1 from "../components/setting1.vue";

export default {
  name: "Tab5",
  components: {
    IonIcon,
    IonImg,
    IonButton,
    IonCol,
    IonRow,
    IonText,

    IonContent,
    IonPage,
    CardProfile,
    setting1,
  },
};
</script>

<style scoped>
ion-content {
  --ion-background-color: #f2fbf6;
}

ion-content .hearder {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

ion-content .hearder ion-icon {
  font-size: 28px;
}

ion-content ion-icon {
  margin-top: 15px;
  padding-bottom: 5px;
}

.hearder ion-text {
  font-family: "Nunito-Bold";
  font-size: 17px;
}

.logo {
  display: flex;
  justify-content: space-evenly;
}

.logo ion-icon {
  font-size: 19px !important;
  margin: 10px 5px;
  padding-top: 6px;
}

.logo ion-text {
  margin: 10px 5px;
  padding-top: 6px;
}

ion-content .profile {
  position: relative;
}

.profile ion-img {
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.profile h6 {
  font-family: "Kanit-Regular";
  font-size: 18px;
  text-align: center;
  margin-bottom: 0px;
}

.profile p {
  font-family: "Kanit-Regular";
  font-size: 12px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

.card {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setting {
  position: relative;
  width: 320px;
  height: auto;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.setting1 {
  position: relative;
}

.SignOut {
  position: relative;
  width: 125px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #00a651;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.SignOut ion-icon {
  padding: 0;
  margin: 0;
  font-size: 20px !important;
}

.SignOut ion-button {
  width: 48px;
}

.SignOut h6 {
  font-family: "Kanit-Regular";
  font-size: 12px;
  text-align: center;
  padding-right: 5px;
}
</style>
