<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="logo">
        <ion-icon :src="require(`../../src/assets/icon/PlusGreen.svg`)" />
        <h6>Medical Care</h6>
        <p>Health first</p>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonContent, IonIcon } from "@ionic/vue";

export default {
  components: { IonPage, IonContent, IonIcon },
};
</script>

<style>
ion-content {
  --ion-background-color: #fff;
}

.logo ion-icon {
  font-size: 47px !important;
  margin-left: 157px;
  margin-top: 263px;
}

.logo h6 {
  color: #4d4c4c;
  font-family: "Kanit-Bold";
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin: 16px 0 0 0;
}

.logo p {
  color: #908f8f;
  font-family: "Kanit-Regular";
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin: 6px 0 0 0;
}
</style>
