<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="header">
        <ion-img :src="require(`../../src/assets/img/Tutorial1.png`)"></ion-img>

        <h6>จัดส่งยา</h6>
        <h6>จากทางโรงพยาบาลโดยตรง</h6>
        <p>จัดส่งยาจากทางโรงพยาบาลถึงหน้า</p>
        <p>บ้านโดยที่ท่านไม่ต้องเดินทางไปรับด้วยตัวเอง</p>
        <ion-icon :src="require(`../../src/assets/icon/Dot1.svg`)" />
      </div>

      <div class="button">
        <h6 @click="this.$router.push({ path: 'tab8' })">กดเพื่อไปต่อ</h6>
        <h5 @click="this.$router.push({ path: 'SignIn1' })">ข้ามขั้นตอน</h5>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonContent, IonIcon, IonImg } from "@ionic/vue";

export default {
  components: { IonPage, IonContent, IonIcon, IonImg },
};
</script>

<style>
ion-content {
  --ion-background-color: #fff;
}

ion-tab-bar {
  display: none;
}

.header ion-img {
  width: 198px;
  height: 210px;
  margin: 41px 0 16px 33px;
}

.header h6 {
  color: #4d4c4c;
  font-family: "Kanit-Bold";
  font-size: 22px;
  margin: 0 0 10px 33px;
}

.header p {
  color: #000;
  opacity: 60%;
  font-family: "Kanit-Regular";
  font-size: 14px;
  margin: 0 0 0 33px;
}

.header ion-icon {
  width: 25px;
  height: 10px;
  margin: 44px 0 0 33px;
}

.button {
  display: flex;
  justify-content: space-between;
}

.button h6 {
  color: #fff;
  background: #00a651;
  font-family: "Kanit-Regular";
  font-size: 14px;
  border: 2px solid #00a651;
  border-radius: 10px;
  padding: 15px;
  justify-content: start;
  margin-left: 33px;
}

.button h5 {
  color: #908f8f;
  font-family: "Kanit-Regular";
  font-size: 14px;
  padding: 17px;
  justify-content: end;
  margin-right: 33px;
}
</style>
