<template>
  <ion-page>
    <ion-tabs>
      <ion-router-outlet></ion-router-outlet>
      <ion-tab-bar>
        <ion-tab-button tab="tab1" href="/tabs/tab1">
          <ion-icon :src="require(`../../src/assets/icon/home.svg`)" />
          <ion-label>หน้าหลัก</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2" href="/tabs/tab2">
          <ion-icon
            :src="require(`../../src/assets/icon/calendar_today.svg`)"
          />
          <ion-label>ปฏิทินนัดหมาย</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3" href="/tabs/tab3">
          <ion-icon :src="require(`../../src/assets/icon/medication.svg`)" />
          <ion-label>ยาของฉัน</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab4" href="/tabs/tab4">
          <ion-icon
            :src="require(`../../src/assets/icon/local_shipping.svg`)"
          />
          <ion-label>การจัดส่งยา</ion-label>
        </ion-tab-button>

        <ion-tab-button ion-tab-button tab="tab5" href="/tabs/tab5">
          <ion-icon
            :src="require(`../../src/assets/icon/account_circle.svg`)"
          />
          <ion-label>ฉัน</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-page>
</template>

<script lang="ts">
import {
  IonTabBar,
  IonTabButton,
  IonTabs,
  IonLabel,
  IonIcon,
  IonPage,
  IonRouterOutlet,
} from "@ionic/vue";
import {
  ellipse,
  square,
  triangle,
  homeOutline,
  calendarClearOutline,
  medkitOutline,
  personCircleOutline,
} from "ionicons/icons";

export default {
  name: "Tabs",
  components: {
    IonLabel,
    IonTabs,
    IonTabBar,
    IonTabButton,
    IonIcon,
    IonPage,
    IonRouterOutlet,
  },
  setup() {
    return {
      ellipse,
      square,
      triangle,
      homeOutline,
      calendarClearOutline,
      medkitOutline,
      personCircleOutline,
    };
  },
};
</script>

<style>
ion-label {
  font-size: 8px;
  font-family: "Nunito-Regular";
}

ion-tab-bar {
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}
</style>
