<template>
  <div class="CardProfile">
    <div class="card-icon-banner">
      <ion-button fill="clear">
        <ion-icon size="mmedium" :src="link" />
      </ion-button>
    </div>
    <p>{{ name }}</p>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    name: String,
    link: String,
  },
};
</script>

<style scoped>
.CardProfile {
  width: 57px;
  height: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0 20px 0 20px;
}

.CardProfile p {
  font-family: "Kanit-Regular";
  font-size: 10px;
  color: #000;
  text-align: center;
}

.CardProfile ion-button {
  height: 55px;
}
.CardProfile ion-icon {
  font-size: 30px !important;
  background: #ffffff;
  padding: 10px;
  border-radius: 50%;
}
</style>