<template>
  <div class="card-content" >
    <div class="card-icon-banner">
      <ion-button fill="clear">
        <ion-icon size="large" :src="link" />
      </ion-button>
    </div>
    <p>{{ name }}</p>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    name: String,
    link: String,
  },
};
</script>

<style scoped>
.card-content {
  width: 100%;
  position: relative;
  padding: 3rem 10px 0.5rem 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.card-content p {
  font-family: "Kanit-Light";
  line-height: 18px;
  text-align: center;
  font-size: 13px;
  color: #00a651;
}

.card-content .card-icon-banner {
  width: 100%;
  top: -1rem;
  left: -0.5rem;
  position: absolute;
}

.card-content .card-icon-banner ion-button {
  height: 60px;
  width: 70%;
  border-radius: 15px;

  background-color: #00a651;
}
</style>
