<template>
  <div class="content">
    <!-- 21 พ.ย. -->
    <nav>
      <label for="touch">
        <span>
          <div class="box">
            <h6>21 พ.ย. 64</h6>
          </div>

          <div class="box">
            <h6>เวลา 9:00 น.</h6>
          </div>

          <img src="../../src/assets/icon/NextDownGreen.svg" />
        </span>
      </label>
      <input type="checkbox" id="touch" />

      <ul class="slide">
        <div class="wrap">
          <p>21 พฤศจิกายน 64</p>
          <ul class="subslide">
            <li>นัดพบเเพทย์ ที่ โรงพยาบาล เวลา 9:00 น.</li>
            <li>ผู้ตรวจ Dr.Mosia Gloria</li>
            <li>สถานที่ โรงพยาบาลเอ ตึกบี ชั้น 2</li>
          </ul>

          <div
            class="postpone"
            @click="this.$router.push({ path: 'postpone' })"
          >
            <h6>ขอเลื่อนวันพบแพทย์</h6>
          </div>
        </div>
      </ul>
    </nav>

    <!-- 25 พ.ย. -->
    <nav>
      <label for="touch1">
        <span>
          <div class="box">
            <h6>25 พ.ย. 64</h6>
          </div>

          <div class="box">
            <h6>เวลา 13:00 น.</h6>
          </div>

          <img src="../../src/assets/icon/NextDownGreen.svg" />
        </span>
      </label>
      <input type="checkbox" id="touch1" />

      <ul class="slide">
        <div class="wrap">
          <p>25 พฤศจิกายน 64</p>
          <ul class="subslide">
            <li>นัดพบเเพทย์ ที่ โรงพยาบาล เวลา 13:00 น.</li>
            <li>ผู้ตรวจ Dr.Mosia Gloria</li>
            <li>สถานที่ โรงพยาบาลเอ ตึกบี ชั้น 2</li>
          </ul>

          <div class="postpone">
            <h6>ขอเลื่อนวันพบแพทย์</h6>
          </div>
        </div>
      </ul>
    </nav>

    <!-- 26 พ.ย. -->
    <nav>
      <label for="touch2">
        <span>
          <div class="box">
            <h6>26 พ.ย. 64</h6>
          </div>

          <div class="box">
            <h6>เวลา 8:00 น.</h6>
          </div>

          <img src="../../src/assets/icon/NextDownGreen.svg" />
        </span>
      </label>
      <input type="checkbox" id="touch2" />

      <ul class="slide">
        <div class="wrap">
          <p>26 พฤศจิกายน 64</p>
          <ul class="subslide">
            <li>นัดพบเเพทย์ ที่ โรงพยาบาล เวลา 8:00 น.</li>
            <li>ผู้ตรวจ Dr.Mosia Gloria</li>
            <li>สถานที่ โรงพยาบาลเอ ตึกบี ชั้น 2</li>
          </ul>

          <div class="postpone">
            <h6>ขอเลื่อนวันพบแพทย์</h6>
          </div>
        </div>
      </ul>
    </nav>

    <!-- 31 พ.ย. -->
    <nav>
      <label for="touch3">
        <span>
          <div class="box">
            <h6>31 พ.ย. 64</h6>
          </div>

          <div class="box">
            <h6>เวลา 8:00 น.</h6>
          </div>

          <img src="../../src/assets/icon/NextDownGreen.svg" />
        </span>
      </label>
      <input type="checkbox" id="touch3" />

      <ul class="slide">
        <div class="wrap">
          <p>31 พฤศจิกายน 64</p>
          <ul class="subslide">
            <li>นัดพบเเพทย์ ที่ โรงพยาบาล เวลา 8:00 น.</li>
            <li>ผู้ตรวจ Dr.Mosia Gloria</li>
            <li>สถานที่ โรงพยาบาลเอ ตึกบี ชั้น 2</li>
          </ul>

          <div class="postpone">
            <h6>ขอเลื่อนวันพบแพทย์</h6>
          </div>
        </div>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {};
</script>

<style>
.box {
  display: flex;
}

.content {
  width: 318px;
  height: 226px;
}

nav {
  width: 100%;
  padding: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

span {
  padding: 5px;

  color: black;
  font-size: 12px;
  font-family: "Kanit-Regular";
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  padding: 0;
}

.slide {
  position: relative;
  clear: both;
  width: 100%;
  height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  transition: height 0.4s ease;
  list-style: none;
  overflow: hidden;
}
.slide p {
  font-size: 12px;
  font-family: "Kanit-Regular";
}
.subslide {
  clear: both;
  width: 100%;
  height: 70px;
  padding: 0;
  font-size: 12px;
  font-family: "Kanit-Regular";
}

.postpone {
  color: #fff;
  font-size: 12px;
  font-family: "Kanit-Regular";
  margin-left: 25px;
  margin-right: 50px;
  margin-bottom: 10px;
  background: #00a651;
  border-radius: 5%;
  padding: 1px 0 1px 0;
  text-align: center;
}

#touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch:checked + .slide {
  height: 170px;
  overflow: auto;
}

li {
  margin: 0;
  padding: 0;
}

.text {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: "Kanit-Regular";
  padding: 0;
  margin: 0;
  margin-right: 3px;
}

h6 {
  margin-left: 5px;
  font-size: 12px;
  font-family: "Kanit-Regular";
}

#touch1 {
  position: absolute;
  opacity: 0;
  height: 150px;
}

#touch1:checked + .slide {
  height: 170px;
  overflow: auto;
}

.wrap {
  width: 100%;
  height: 150px;
}

#touch2 {
  position: absolute;
  opacity: 0;
  height: 150px;
}

#touch2:checked + .slide {
  height: 170px;
  overflow: auto;
}

#touch3 {
  position: absolute;
  opacity: 0;
  height: 150px;
}

#touch3:checked + .slide {
  position: relative;
  height: 170px;
  overflow: auto;
}

/* CSS Toggle */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 170px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00a651;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00a651;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(9px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 31px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  overflow-y: scroll;
}
</style>
