<template>
  <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <li> 
                    <div class="profile">
                        <ion-img
                        :src="require('../../src/assets/img/Profile2.png')"
                        ></ion-img>
                        <h6 style="color: Black">คุณประหยัด มีบุญ</h6>
                        <p style="color: #ABAFB3">หมายเลขประจำตัว : 12208105430</p>
                    </div>
                </li>
                <li>
                    <div class="middle">
                        <img src="../../src/assets/icon/Information.svg"/>
                        <h6 style="color: #807C7C">เกี่ยวกับเรา</h6>
                    </div>
                </li>
                <li>
                    <div class="middle">
                        <img src="../../src/assets/icon/pill_green.svg"/>
                        <h6 style="color: #807C7C">วิธีการสั่งยาออนไลน์</h6>
                    </div>
                </li>
                <li>
                    <div class="middle">
                        <img src="../../src/assets/icon/Home_green.svg"/>
                        <h6 style="color: #807C7C">หน้าหลัก</h6>
                    </div>
                </li>
                <li>
                    <div class="middle">
                        <img src="../../src/assets/icon/Older_Care.svg"/>
                        <h6 style="color: #807C7C">การดูแลผู้สูงอายุ</h6>
                    </div>
                </li>
                <li>
                    <div class="middle">
                        <img src="../../src/assets/icon/togjai_Green.svg"/>
                        <h6 style="color: #807C7C">บริการทั้งหมด</h6>
                    </div>
                </li>
                <li>
                    <div class="footer">
                        <img src="../../src/assets/icon/share_green.svg"/>
                        <h6 style="color: #807C7C">แบ่งปันให้เพื่อนรู้จัก</h6>
                    </div>
                </li>
                <li>
                    <div class="middle">
                        <img src="../../src/assets/icon/feedback_2.svg"/>
                        <h6 style="color: #807C7C">ผลตอบรับและติดต่อเรา</h6>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
export default {

}
</script>

<style>
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #232323;
  color: #ffffff;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 8px;
  left: 7px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 24px;
  height: 2px;
  margin-bottom: 3px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0% ;
  
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
  
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-4px, -1px) ;
  background: #000000;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -0.5px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  height: 640px;
  margin: -100px 0 0 -50px;
  padding-top: 100px;
  
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{

  padding: 3px 0;
  font-size: 22px;
}
.profile ion-img {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.profile h6 {
  font-family: "Kanit-Regular";
  font-size: 18px;
  text-align: center;
  margin-bottom: 0px;
}

.profile p {
  font-family: "Kanit-Regular";
  font-size: 12px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 13px;
}

.middle  {
    height: 30px;
    display: flex;
    padding: 3px;
}

.middle img {
    height: 16px;
    width: 16px;
    margin: 5px 5px 0 10px;
}

.middle h6 {
    font-family: "Kanit-Regular";
    font-size: 14px;
    margin: 5px 0 0 10px;
}

.footer  {
    height: 30px;
    display: flex;
    padding: 3px;
    margin-top: 100px;
}

.footer img {
    height: 16px;
    width: 16px;
    margin: 5px 5px 0 10px;
}

.footer h6 {
    font-family: "Kanit-Regular";
    font-size: 14px;
    margin: 5px 0 0 10px;
}
/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
</style>