<template>
  <div class="NavContent">
    <div class="Nav-content-detail">
      <ion-button fill="clear">
        <ion-icon :style="fontsize" :src="link" />
      </ion-button>
    </div>
    <p>{{ name }}</p>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    name: String,
    link: String,
  },
};
</script>

<style scoped>
.NavContent {
  width: 71px;
  height: 71px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #00a651;
  box-sizing: border-box;
  border-radius: 15px;
  border-radius: 15px;
}

.NavContent p {
  font-family: "Kanit-light";
  font-size: 12px;
  text-align: center;
  margin: -6px;
  color: #00a651;
}

.NavContent ion-icon {
  font-size: 26px;
}
</style>
