<template>
  <div class="card-content">
    <div class="card-image">
      <img :src="link" />
    </div>
    <h6>{{ name }}</h6>
    <slot name="text-detail"></slot>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    name: String,
    link: String,
    detail: String,
  },
};
</script>

<style scoped>
.card-content {
  flex: 0 0 auto;
}

h6 {
  padding-left: 5px;
  margin-top: 0;
  margin-bottom: 5px;
}

.text-detail {
  font-size: 12px;
  padding-left: 5px;
  margin-top: 0;
}
</style>
