<template>
  <div class="pillCard">
    <div class="pill-title">
      <img :src="link" />
      <p>{{ name }}</p>

      <div class="status-detail">
        <div class="create-btn">
          <p>สร้างการแจ้งเตือน</p>
        </div>
        <div class="detail-btn">
          <p @click="this.$router.push({ path: 'tab11' })">รายละเอียดของยา</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    name: String,
    link: String,
    detail: String,
  },
};
</script>

<style scoped>
.pillCard {
  width: 100%;
  height: 90px;
  background: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 13px 13px;
  margin-bottom: 20px;
}

.pill-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pill-title img {
  width: 43px;
  height: 43px;
  object-fit: fill;
  border-radius: 5px;
}

.pill-title p {
  font-family: "Kanit-Regular";
  font-size: 15px;
}

/* status-detail */

.status-detail .detail-btn {
  background: #00a651;
  border-radius: 5px;
  border: 1px solid #00a651;
}

.status-detail .create-btn {
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  margin-bottom: 3px;
}

.status-detail .create-btn p {
  font-family: "Kanit-Regular";
  font-size: 11px;
  padding: 5px 5px;
  text-align: center;
  margin: 2px;
}

.status-detail .detail-btn p {
  font-family: "Kanit-Regular";
  color: white;
  font-size: 11px;
  padding: 5px 5px;
  text-align: center;
  margin: 2px;
}
</style>
