<template>
  <div class="SetProfile">
    <div class="RowProfile">
      <ion-button fill="clear">
        <ion-icon size="medium" :src="link" />
      </ion-button>
    </div>
    <p>{{ name }}</p>

    <div class="NextDown">
      <ion-icon :src="require(`../../src/assets/icon/NextDownBlack.svg`)" />
      <div
        class="dropdown"
        @click.stop="shouldToggleDropdown"
        :class="computedClasses"
        :style="computedStyles"
      ></div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    name: String,
    link: String,
  },
};
</script>

<style scoped>
.SetProfile {
  width: 319px;
  height: 51px;
  display: flex;
  flex-direction: row;
}

.SetProfile ion-icon {
  font-size: 20px !important;
  justify-content: start;
}

.SetProfile p {
  width: 230px;
  font-size: 12px;
  font-family: "Kanit-Regular";
  padding: 0px;
  padding: 3px;
}

.SetProfile .NextDown ion-icon {
  font-size: 20px !important;
  display: flex;
  justify-content: end;
  margin-top: 15px;
}
</style>
