<template>
  <div class="content">
    <!-- ตั้งค่าทั่วไป -->
    <nav>
      <label for="touch">
        <span>
          <div class="box">
            <img src="../../src/assets/icon/Setting.svg" />
            <h6 style="margin-left: 5px">ตั้งค่าทั่วไป</h6>
          </div>

          <img src="../../src/assets/icon/NextDownBlack.svg" />
        </span>
      </label>
      <input type="checkbox" id="touch" />

      <ul class="slide">
        <div class="wrap">
          <p class="text">ภาษา</p>

          <div class="lang">
            <img class="lang" src="../../src/assets/img/th.png" />
            <img class="lang" src="../../src/assets/img/eng.png" />
          </div>
        </div>
      </ul>
    </nav>

    <!-- แก้ไขข้อมูลส่วนตัว -->
    <nav>
      <label for="touch1">
        <span>
          <div class="box">
            <img src="../../src/assets/icon/PrivateProfile.svg" />
            <h6 style="margin-left: 5px">แก้ไขข้อมูลส่วนตัว</h6>
          </div>

          <img src="../../src/assets/icon/NextDownBlack.svg" />
        </span>
      </label>
      <input type="checkbox" id="touch1" />

      <ul class="slide">
        <div class="wrap">
          <p class="text">ชื่อ - สกุล</p>

          <div class="lang">
            <p class="text" style="opacity: 0.6">ประหยัด มีบุญ</p>
            <img src="../../src/assets/icon/pencil.svg" />
          </div>
        </div>

        <div class="wrap">
          <p class="text">อีเมลล์</p>

          <div class="lang">
            <p class="text" style="opacity: 0.6">Prayut@gmail.com</p>
            <img src="../../src/assets/icon/pencil.svg" />
          </div>
        </div>

        <div class="wrap">
          <p class="text">ที่อยู่</p>

          <div class="lang">
            <p class="text" style="opacity: 0.6">
              1 ซ:ฉลองกรุง1 แขวงลาดกระบังเขตลาดกระบัง
            </p>
            <img src="../../src/assets/icon/pencil.svg" />
          </div>
        </div>

        <div class="wrap">
          <p class="text">ติดต่อ</p>

          <div class="lang">
            <p class="text" style="opacity: 0.6">080-123-4567</p>
            <img src="../../src/assets/icon/pencil.svg" />
          </div>
        </div>
      </ul>
    </nav>

    <!-- ตั้งค่าการแจ่งเตือน -->
    <nav>
      <label for="touch2">
        <span>
          <div class="box">
            <img src="../../src/assets/icon/Notification_green.svg" />
            <h6 style="margin-left: 5px">ตั้งค่าการแจ่งเตือน</h6>
          </div>

          <img src="../../src/assets/icon/NextDownBlack.svg" />
        </span>
      </label>
      <input type="checkbox" id="touch2" />

      <ul class="slide">
        <div class="wrap">
          <p class="text">แจ้งเตือนข่าวสาร</p>

          <div class="lang">
            <label class="switch">
              <input type="checkbox" />
              <span class="slider round"></span>
            </label>
          </div>
        </div>

        <div class="wrap" style="margin-top: 5px">
          <p class="text">แจ้งเตือนกินยา</p>

          <div class="lang">
            <label class="switch">
              <input type="checkbox" />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </ul>
    </nav>

    <!-- ตั้งค่าความปลอดภัย -->
    <nav>
      <label for="touch3">
        <span>
          <div class="box">
            <img src="../../src/assets/icon/Setting.svg" />
            <h6 style="margin-left: 5px">ตั้งค่าความปลอดภัย</h6>
          </div>

          <img src="../../src/assets/icon/NextDownBlack.svg" />
        </span>
      </label>
      <input type="checkbox" id="touch3" />

      <ul class="slide">
        <div class="wrap">
          <p class="text">รหัสผ่านเดิม</p>

          <div class="lang">
            <p class="text" style="opacity: 0.6">เปลี่ยนรหัสผ่าน</p>
            <img src="../../src/assets/icon/pencil.svg" />
          </div>
        </div>
      </ul>
    </nav>

    
  </div>
</template>

<script>
export default {};
</script>

<style>
.box {
  display: flex;
}

.content {
  width: 318px;
  height: 226px;
  padding: 5px 15px;
}

li a {
  text-decoration: none;
  color: #2d2f31;
}

nav {
  width: 100%;
  background: white;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

span {
  padding: 5px;
  background: white;
  color: black;
  font-size: 12px;
  font-family: "Kanit-Regular";
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide {
  position: relative;
  clear: both;
  width: 100%;
  height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  transition: height 0.4s ease;
  list-style: none;
  overflow: hidden;
}

.slide li {
  padding: 30px;
}

#touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch:checked + .slide {
  height: 30px;
  overflow: auto;
}

li {
  margin: 0;
  padding: 0;
}

.text {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: "Kanit-Regular";
  padding: 0;
  margin: 0;
  margin-right: 3px;
}

h6 {
  font-size: 12px;
  font-family: "Kanit-Regular";
}

.lang {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 5px;
}

#touch1 {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch1:checked + .slide {
  height: 100px;
  overflow: auto;
}

.wrap {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

#touch2 {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch2:checked + .slide {
  height: 50px;
  overflow: auto;
}

#touch3 {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch3:checked + .slide {
  position: relative;
  height: 30px;
  overflow: auto;
}

/* CSS Toggle */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00a651;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00a651;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(9px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 31px;
}

.slider.round:before {
  border-radius: 50%;
}

.SignOut {
  position: relative;
  width: 150px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #00a651;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.SignOut ion-icon {
  padding: 0;
  margin: 0;
  font-size: 20px !important;
}

.SignOut ion-button {
  width: 48px;
}

body {
  overflow-y: scroll;
}
</style>
