<template>
  <div class="statusCard">
    <div class="status-header">
      <ion-icon :src="link" />
      <h6>{{ name }}</h6>
    </div>
    <div class="status-detail">
      <p>{{ date }}</p>
      <li>
        {{ detail }}
        <p1>{{ time }}</p1>
      </li>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    name: String,
    date: String,
    detail: String,
    link: String,
    time: String,
  },
};
</script>

<style scoped>
.statusCard {
  position: absolute;
  width: 315px;
  height: 110px;
  background: #fff;
  border-radius: 10px;
  padding: 1.2rem;
}

.status-header {
  display: flex;
  justify-content: flex-start;
}

.status-header ion-icon {
  font-size: 18px;
  margin-right: 13px;
}

.status-header h6 {
  margin: 2px 0;
  font-size: 14px;
  font-family: "Kanit-Regular";
}

.status-detail p {
  font-size: 13px;
  font-family: "Kanit-Light";
  margin-top: 13px;
  margin-bottom: 3px;
}

.status-detail li {
  font-size: 12px;
  font-family: "Kanit-Light";
  margin: 0;
}

.status-detail li p1 {
  font-size: 12px;
  font-family: "Kanit-Regular";
  color: #f7981d;
  margin: 0;
}
</style>
