<template>
  <div class="timeCard">
    <h6 style="margin-bottom: 10px">{{ name }}</h6>

    <div class="time-title">
      <slot name="timetitle"> </slot>
    </div>

    <!-- <div class="time-title">
     
    </div> -->
  </div>
</template>

<script lang="ts">
export default {
  props: {
    name: String,
  },
};
</script>

<style scoped>
.time-title {
  width: 100%;
  height: 70px;
  background: #f2fbf6;
  border-bottom: 1px solid #b3b3b3;
  padding: 13px;
  display: flex;
  justify-content: space-between;
}

.timeCard h6 {
  margin: 0;
  font-family: "Kanit-Regular";
  font-size: 12px;
  color: #00a651;
}
</style>
